[2019-01-08 15:34] danielgranat commented on #717
@cidthecoatrack Thanks for posting this. Just spend a day trying to figure out if I did something wrong. Having the options require authorization does not make sense.
I think this is CF thing. I wonder if there is different way to configure this in CF template.

[2019-01-08 18:31] jlhood commented on #725
This is expected behavior for CORS support.

[2019-01-08 18:31] #725 closed

[2019-01-08 18:39] jlhood commented on #716
@lestephane Your understanding of the two alarms defined in the docs is correct. `AliasXAlarm` is monitoring errors from old or new lambda code, `LatestXAlarm` is monitoring only errors on new lambda code. Reasons to have both alarms:

1. `LatestXAlarm` should be very sensitive, because any errors on the new lambda version could be treated as a faulty new version, triggering auto-rollback.
1. I've

[2019-01-08 18:40] jlhood commented on #716
@dave-graham Would you be willing to update the docs based on this discussion?

[2019-01-08 18:54] jlhood commented on #738
We had some discussion on this and came up with a possible solution:

1. Have a way to scope the `FunctionName` property that's passed to the `AWS::Lambda::EventSourceMapping` resource to a specific version.
1. Have a way to set a [DeletionPolicy](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-deletionpolicy.html) to Retain on the EventSourceMapping that gets created.

[2019-01-08 19:09] jlhood commented on #739
This is another flavor of #479. SAM only generates a new API Gateway Deployment if the swagger definition changes. If SAM uses an intrinsic function inside the swagger definition, the definition is not seen as changed, even if the value returned by the intrinsic function changes. Here's an example  SAM output showing that the Function's ARN is put into the swagger definition using intrinsic functi

[2019-01-08 19:09] #739 closed

[2019-01-08 21:51] Christoph-Schabert opened #747 "Feature Request: AWS::ApiGateway::DocumentationVersion"
Hi,
at the moment its not possible to auto publish API Gateway Documentation that is define e.g. via inline Swagger.

Its also not possible to specify the DocumentationVersion at the stage.

[code]

[2019-01-08 22:23] cervantek commented on #661
@brettstack When implemented, would it be alright if it could be specified in Serverless::Function or in the Globals\Function section? It would seem to me to be a common use case where all Lambdas in and app would share a permissions boundary, even if they did each have their own role.

[2019-01-09 07:30] hoegertn commented on #738
HI,
following your idea I tried this
[code]

But it does not work as the DeletionPolicy does not apply to Replacements. I think it will work if the logical name of the permission would change with every deployment.

[2019-01-09 10:55] lestephane commented on #716
@dave-graham thanks for the heads-up, there also seems to be a typo in the safe deployment LatestXAlarm definition ( `MyLambdaFunction.Version.Version`)

![image](https://user-images.githubusercontent.com/5460884/50895089-be384580-140d-11e9-8b92-b09091da7b0e.png)

[2019-01-09 13:59] dehli commented on #349
It would also be great if `RestApiId` could be of type `AWS::ApiGateway::RestApi` instead of just `AWS::Serverless::Api`. We're currently using CloudFormation and would like to dry up some code by slowly switching to SAM but this prevents us from doing that.

[2019-01-09 18:49] mnapoli opened #751 "Use variable in layers"
**Description:**

We are building PHP runtimes (as layers) in [Bref](https://github.com/mnapoli/bref).

But to use the layers users have to replace the region in `template.yaml` with the region their application is in.

Similar problem: the version of the layer will change over time, users will have to manually edit `template.yaml` to change the version number.

**Steps to reproduce the issue:**
1

[2019-01-09 19:56] timoschilling commented on #751
have you tried this?
[code]

[2019-01-09 22:23] keetonian commented on #280
Sorry, shouldn't have removed that label already or closed this issue. This is being released in v1.10.0.

[2019-01-10 00:57] pshvets opened #754 "LayerName is not supporting intrinsic functions in AWS::Serverless::LayerVersion?"
**Description:**

For some reason !Sub stopped working in LayerName sometimes back.

**Steps to reproduce the issue:**
[code]
[code]

**Observed result:**
`Failed to create the changeset: Waiter ChangeSetCreateComplete failed: Waiter encountered a terminal failure state Status: FAILED. Reason: Transform AWS::Serverless-2016-10-31 failed with: Invalid Serverless Application Specification document.

[2019-01-10 01:09] pshvets commented on #702
Issue resolved itself without us making any changes.
We did not observe it ever since.

[2019-01-10 01:11] pshvets commented on #754
It seems like it was fixed in #753
Could you please confirm?

[2019-01-10 02:44] keetonian commented on #754
This was unintended; we rolled back the deployment and submitted a fix for this issue. Thank you for reporting, it is indeed fixed.

[2019-01-10 02:44] #754 closed

[2019-01-10 06:13] elver opened #756 "Lambda authorizers are badly broken in SAM right now."
This example template fails to validate and demonstrates the issue I'm having with my own template: https://github.com/awslabs/serverless-application-model/blob/master/examples/2016-10-31/api_lambda_token_auth/template.yaml

sam validate returns with:

`Error: [InvalidResourceException('MyApi', "Auth works only with inline Swagger specified in 'DefinitionBody' property")] ('MyApi', "Auth works onl

[2019-01-10 10:36] mnapoli commented on #751
@timoschilling yes it doesn't either

`- 'arn:aws:lambda:us-east-2:416566615250:layer:php-72:9'`

works.

`- !Sub 'arn:aws:lambda:us-east-2:416566615250:layer:php-72:${MY_LAYER_VERSION}'`

doesn't work, this is the result in `sam local`:

[code]

Also this is the result when trying to deploy with SAM:

[code]

`- !Sub 'arn:aws:lambda:us-east-2:416566615250:layer:php-72:9'`

doesn't work either wit

[2019-01-10 14:34] dave-graham opened #757 "Api backend example excessively permissive"
Hi,

Yesterday I found https://github.com/awslabs/serverless-application-model/blob/master/docs/policy_templates.rst for the first time, despite using SAM on a day to day basis for around 6 months. It's very powerful, but I clearly missed the link to it on here https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md

I think that one of the reasons that I may hav

[2019-01-10 16:53] keetonian commented on #756
Which region is this in? And could you provide a sample of what you're trying to deploy?

`sam validate` failing on the authorizer examples is a known issue: https://github.com/awslabs/aws-sam-cli/issues/803

[2019-01-10 19:35] keetonian commented on #757
Yes, that is correct. This is also good feedback about Policy Templates- they are a great feature of SAM, but if it took you this long to discover them, it means we need to somehow surface them better in the documentation.

[2019-01-10 20:14] jlhood commented on #757
@dave-graham Agreed we should definitely change that example. Would you mind submitting the PR?

[2019-01-10 20:24] #716 closed

[2019-01-10 21:35] keetonian opened #758 "RFC: Conditions and API Events"
**Description:**
SAM should support Conditions, as proposed in #142. Adding conditions to events was implemented in #653 and fixed in #755 for everything except for API events referencing the implicit API.

**Problem Statement:**
Supporting CloudFormation Conditions for API Events that use SAM's implicit API is not as straightforward as supporting them for other event types.

**Details:**
When a S

[2019-01-10 21:44] jlhood commented on #758
When you say "API Resources", are you referring to the AWS::ApiGateway::* CloudFormation resources or the REST resources defined within the AWS::ApiGateway::RestApi Body property?

[2019-01-10 21:47] keetonian commented on #758
The AWS::ApiGateway::* CFN resources. In this simple case, there are two: RestApi and Deployment. Will have to investigate to see if SAM ever creates more resources than these two when deploying an Implicit API.

[2019-01-10 21:50] jlhood commented on #758
It can also create `AWS::ApiGateway::Stage`. Try an example that sets something like metrics or logging.

[2019-01-10 21:56] jlhood commented on #758
Other than also adding conditions on `AWS::ApiGateway::Stage`, this design looks right to me.

[2019-01-11 00:10] hoegertn commented on #627
Anything new?

[2019-01-11 02:43] GeekOnGadgets commented on #756
I am trying to deploy lambda token authorizer and can't find any documentation on what is the best way to include in sam `template.yml` file. Any example  can you please point me to? Currently looking at this https://github.com/awslabs/serverless-application-model/blob/master/examples/2016-10-31/api_lambda_token_auth/template.yaml but not working. Some how `!GetAtt` are failing. Any help is apprec

[2019-01-11 08:52] dave-graham commented on #757
@jlhood have done

@keetonian throwing an idea out there, is it worth having a best practices page in the documentation that links to or covers things like:

[Policy templates](https://github.com/awslabs/serverless-application-model/blob/master/docs/policy_templates.rst)
[Safe deployments](https://github.com/awslabs/serverless-application-model/blob/master/docs/safe_lambda_deployments.rst)
[Approa

[2019-01-11 18:31] keetonian commented on #349
Nested stacks are now supported in SAM, meaning you can nest resources in other stacks and use the outputs as values in the current stack.

[2019-01-11 18:32] #702 closed

[2019-01-11 18:39] keetonian commented on #627
Adding a priority label to help us get this scheduled soon. Sorry for the wait.

I'm not personally familiar with OAS3; could someone direct me to something that explains the differences between it and Swagger so I can better understand what needs to change to support it? Can I still use swagger syntax and call it OAS3 instead of Swagger 2.0?

[2019-01-11 18:39] dehli commented on #349
Even though they are supported, when I created the `AWS::Serverless::Api` in a separate stack from an `AWS::Serverless::Function` I still got the above error (this was two days ago).

[2019-01-11 18:48] keetonian commented on #349
Can you post an example that creates this issue? Is it as simple as defining an API in one stack and referencing a Function in that API that is from a nested stack?

[2019-01-11 18:54] keetonian commented on #757
@dave-graham I personally think so; there are parts of the docs that have useful information that are hard to find. Having a best practices page that highlights development practices and useful features would be a great idea. Go ahead and start an issue so we can discuss and gather the areas we think that should be documented in a best practices section of the docs.

[2019-01-11 19:02] txase commented on #627
@keetonian I'm aware of only two impacts for SAM:

1. Instead of `swagger: '2.0'` in the `DefinitionBody`, it will be `openapi: '3.0'`. The change for SAM for this should be just allowing `openapi: '3.0'` when the translator performs validation checks.

2. For API authorizers, there is a slight difference in what gets added to the `DefinitionBody`: `SecurityDefinitions` changes to `SecuritySchemas

[2019-01-11 21:42] ScriptAutomate commented on #613
PR #363 seems to be trying to achieve exactly what this is asking for, except for Alexa Smart Home Skills specifically.

Do Alexa Smart Home Skills use a different API? Or could it be a two-birds one-stone situation?

[2019-01-12 18:29] joeythomaschaske opened #760 "ReservedConcurrentExecutions in Globals section"
Doesn't look like you can declare the ReservedConcurrentExecutions in the global section.

This is not listed [in the unsupported properties documentation](https://github.com/awslabs/serverless-application-model/blob/master/docs/globals.rst#unsupported-properties)

`Failed to create the changeset: Waiter ChangeSetCreateComplete failed: Waiter encountered a terminal failure state Status: FAILED. Re

[2019-01-12 18:41] keetonian commented on #760
Good catch, I don't see anything wrong with supporting that property in the globals. It would be a simple PR if you wanted to submit one.

Add the property [here](https://github.com/awslabs/serverless-application-model/blob/master/samtranslator/plugins/globals/globals.py#L17) and update relevant tests and that should be all.

[2019-01-13 12:02] estyh opened #761 "Layer retention policy delete doesn't delete versions"
**Description:**
AWS::Serverless::LayerVersion has an optional property for RetentionPolicy. The docs say:

I inferred from this that setting the value to Delete would cause cloudformation to delete old versions after updating. It doesn't though, it just keeps creating new versions and retaining the old ones.

**Steps to reproduce the issue:**
Here is a snippet from my template.yaml

[code]

**Obs

[2019-01-13 18:51] Bratkartoffl commented on #756
Same here.. I do attach a Cognito Authorizer to a Ressource in my template.yaml. This worked 1 week ago. Since today i notices, that the authorizer does not get attached to the ressource. Any ideas?

[2019-01-14 09:33] dave-graham opened #762 "Document best practices"
SAM enables you to implement best practices very simply and easily, but finding these best practices, and how to implement, can sometimes be hard.

I propose we create a documentation page or section that lists best practices when using SAM, and how to simply implement them.

The reason I'm raising this is linked to issue #757 where it took me 6 months to find that SAM had a built in way of simply

[2019-01-14 13:58] use-sparingly opened #764 "Python Lambda Dependencies not built when defined in nested template"
**Description:**

When a Python Lambda is defined within a Nested Stack and referenced from `template.yaml`, `sam build` fails to build dependecies defined in requirements.txt

This means that Lambdas fail to execute due to missing dependecies.

**Steps to reproduce the issue:**
1. **datasource.yaml**:

        AWSTemplateFormatVersion: '2010-09-09'
        Transform: AWS::Serverless-2016-10-31

[2019-01-15 00:52] ylynn opened #766 "Typo in Properties for Api in template is not handled with 4xx error"
**Description:**
Template with a typo in template is not handled as expected. Under Properties of an api event, use "methid" instead of "method". Get 5xx error.

**Steps to reproduce the issue:**
1. Create an template with an Api event, under "Properties", use "methid" instead of "method"
2. Publish to aws serverless application repository

**Observed result:**
Get a 5xx error

**Expected result:*

[2019-01-15 18:36] jlhood commented on #766
Was able to reproduce this issue. Transform error when Method isn't present due to misspelling:

[code]

The issue is that the implicit API plugin is assuming the Method property is there:

https://github.com/awslabs/serverless-application-model/blob/develop/samtranslator/plugins/api/implicit_api_plugin.py#L191

We need to patch implicit_api_plugin.py to be more defensive. Should use [get()](https

[2019-01-15 18:50] jlhood commented on #762
@dave-graham Thanks so much for opening this issue! We are definitely interested in documenting SAM best practices. We're trying to migrate our docs to the official [AWS SAM Developer Guide](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/what-is-sam.html). Those docs are also [open source](https://github.com/awsdocs/aws-sam-developer-guide), so others can contribute

[2019-01-15 19:01] jlhood commented on #756
@elver Using SAM's support for API Gateway Authorizers only works with inline swagger, i.e., defined in the DefinitionBody property, not swagger defined in an external file. The example you link will not pass sam validate due to the issue @keetonian linked, but it does deploy successfully in CloudFormation.

Other customers are working around this using a pre-build step that injects the swagger de

[2019-01-15 19:20] danzrobok opened #767 "Add 'sam invoke' for remote lambda invocations that aliases to 'aws lambda invoke'"
SAM doesn't have an 'invoke' command for invoking a lambda remotely. If I want to do that, I'll have to use the aws cli:

aws lambda invoke --function-name "<stack_name>-<lambda_name>-<**random_12_chars**>"  <out_file>

But 'sam logs' has the helper command which seems to know how to look up those 12 random characters.

sam logs -n <lambda_name> --stack-name <stack_name> -t

That's super helpful i

[2019-01-15 19:24] danzrobok commented on #767
Wrong project, apologies.

[2019-01-16 00:23] GeekOnGadgets opened #768 "Cross-Stack reference - ImportValue"
**Description:**
Sorry this might fall under `question` label. I am trying to reference output from one stack into the other stack but keeps on getting error. I am pretty sure, I am doing it wrong!

Below is `template.yaml` for `custom authorizer`

[code]

I am trying to use the `Export value` from above stack into below.

[code]

I tried different ways to use the ImportValue but somehow I am not

[2019-01-16 00:48] metaskills commented on #696
I saw that #705 said this was merged, but was it reverted?

[2019-01-16 01:52] keetonian commented on #696
It was merged into develop and is waiting on our next release to be merged into master.

[2019-01-16 01:56] keetonian commented on #768
Could you post the error that you are encountering?

[2019-01-16 01:59] GeekOnGadgets commented on #768
@keetonian thanks for getting back so quickly. I have added the error above.

[2019-01-16 02:10] keetonian commented on #768
Try removing the `!Ref` from `Authorizer` as follows in the Event configuration:
[code]

[2019-01-16 03:05] keetonian commented on #768
Looks like you can’t use ‘-‘ as part of your Authorizer name, since it creates a permission resource based off of that name. Use camel or lower case names

[2019-01-16 07:32] GeekOnGadgets commented on #768
Spot on. Thanks! @keetonian that was the problem.

[2019-01-16 07:32] #768 closed

[2019-01-16 16:06] disciplezero commented on #717
@cidthecoatrack I have been dealing with the same problem, but I found a fifth option: Use a macro to remove the authorizer from options paths. It took a bit of stumbling, but I'll share:

For your existing template, we need to add another transformation. I'm going to call the transformation **CorsFixer**. To apply this transformation change the line:
[code]
to:
[code]

Transforms are run in order

[2019-01-16 19:57] ScriptAutomate commented on #613
I found a way to do it via normal CFN resources. Further research and testing shows that the following works in the `template.yaml` with `sam-cli`, without needing to resort to a post-configuration modification via `aws-cli`:

[code]

With this being the case, I suppose there isn't a need to create additional functionality to support this in the Serverless transform?

[2019-01-16 23:38] brandond commented on #191
Just ran into this as well. Between this and the lack of conditionals, it feels like every time I turn to SAM to save some work, I end up having to go back to just using vanilla CloudFormation objects plus some Jinja2 templating to get what I want without a bunch of broken extra stuff.

[2019-01-17 12:32] Leuloch opened #770 "VpcConfig invalid when referencing other resources"
The following returns the error message `Resource with id [CustomersFunction] is invalid. property SubnetIds not defined for resource of type AWS::Serverless::Function`.  Though appears to be valid.

[code]

If I try to set the VpcConfig throug AWS console, doesn't work either, if no error message.

[2019-01-17 15:26] milancermak opened #778 "AutoPublishAlias does not accept a !Ref"
**Description:**
Using a `!Ref` in `AutoPublishAlias` throws an error when running `sam validate`.

This is a duplicate of awslabs/cfn-python-lint#582 but it looks like it's a SAM error and not a cfn-lint error, so I'm opening a ticket here.

It is _not_ a duplicate of #220 as using`!Ref` in `AutoPublishAlias` should be allowed. Even the error message say so.

**Steps to reproduce the issue:**
1.

[2019-01-17 21:16] keetonian commented on #736
I have a WIP version of this here: https://github.com/keetonian/cw-logs-to-slack

Posting logs to a slack channel is done (I need to write up instructions in the README about how to do it), I'm looking into other slack integrations and commands now.

[2019-01-18 02:11] marafee1243 commented on #285
@jfuss  Those options doenst work. Is there any change in version of template?

`AWSTemplateFormatVersion: 2010-09-09`
`Transform: AWS::Serverless-2016-10-31`

Below is the error I got

`Failed to create the changeset: Waiter ChangeSetCreateComplete failed: Waiter encountered a terminal failure state Status: FAILED. Reason: Transform AWS::Serverless-2016-10-31 failed with: Invalid Serverless Appli

[2019-01-18 09:04] michaelm88 commented on #163
hi , could you help , how can i create an event for S3 bucket which already exists , i dont want to overwrite it

  ProductFeedBucketEnv:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${ProductFeedBucket}
#       NotificationConfiguration:
#         LambdaConfigurations:
#         -
#           Function: !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:function_nam

[2019-01-18 17:18] keetonian commented on #163
@michaelm88 since a lambda configuration (like the following) is created *directly in* the S3 bucket resource, the S3 bucket has to be created in the same template as the Lambda function that needs to trigger off of it. If the S3 bucket already exists, you will have to do the bucket configuration manually, since CloudFormation (and by extension SAM) can't modify an existing S3 bucket.

[code]

[2019-01-18 17:25] rongshengfang opened #774 ""sam package" uploads file to s3 even if the Lambda function code hasn't changed"
**Description:**

When `CodeUri` is set to a local directory where the Lambda function code resides, `sam package` uploads the package to the s3 bucket even if there hasn't been any changes to the local directory. This causes a file to be uploaded to the s3 bucket every time `sam package` is run, even if there isn't any change to the Lambda function code.

Is there any way for `sam` to only upload

[2019-01-18 17:33] keetonian commented on #774
Transferring to the SAM CLI repo, which handles `sam package`.

[2019-01-18 18:14] keetonian commented on #526
@rjlohan Could you provide an example of what you were trying to do? Were you trying to ref a parameter in the `CodeUri` field or in a different location?

[2019-01-18 18:24] keetonian commented on #733
@algha This doesn't have anything to do with SAM, but rather with lambda and CloudFront. Someone on Stack Overflow or another place might be able to answer your question better.

[2019-01-18 18:24] #733 closed

[2019-01-18 18:30] keetonian commented on #492
Not being able to read a UTF-8 BOM is an issue with cloudformation, as it seems that this would be an issue even with the original template before `sam package` is run. Closing issue as SAM can't address this issue.

[2019-01-18 18:30] #492 closed

[2019-01-18 18:35] keetonian commented on #735
Layers are a great way of bundling dependencies and library code. I think that this task is also easily scripted to build+package+deploy code; keeping the build directory separate from the working (development) directory is a nice feature so that build artifacts do not get in the way of normal development.

[2019-01-18 18:35] #735 closed

[2019-01-18 18:39] #377 closed

[2019-01-18 18:46] keetonian commented on #747
SAM could probably do more than this for documentation; it could possibly allow users to document their API inline inside the SAM template. This is something that could be good for SAM to do

[2019-01-18 18:54] keetonian commented on #751
There seem to be a few issues:
1. `AWS_DEFAULT_REGION` is not a CFN parameter, but could be user defined. The corresponding CFN parameter is `AWS::Region`
1. `MY_LAYER_VERSION` wasn't defined in the parameters section of the template you supplied.
1. You need to use `!Sub` in order to resolve these parameters
1. SAM CLI doesn't resolve many intrinsics; this may be an intrinsic that it can't (yet)

[2019-01-18 18:54] #751 closed

[2019-01-18 19:03] keetonian commented on #734
We'll leave this issue open to for additional feedback and +1's.

In the meantime, there are some 3rd party solutions that offer GUI design of SAM or CFN templates. One example is https://www.stackery.io/

[2019-01-18 19:33] keetonian commented on #728
I tried deploying the above template and it works normally via CFN. However, you are right in that it does not deploy correctly from SAR.

I published the following application:
[code]

And, for some reason after publishing, SAR transformed the template to:
[code]

which duplicated the API paths. I'll bring this up with the SAR team and see if we can get it resolved.

[2019-01-18 22:37] GeekOnGadgets opened #776 "Layer not working locally"
**Description:**

I have a lambda layer which takes care of common code and node_modules, which works perfectly fine when deployed. But for local development its not working. Not sure if, I am doing something wrong or this feature is not supported yet.

Below is `dir` structure

[code]

template.yaml
[code]
test api
[code]

when I run `sam local start-api` i get `Unable to import module 'index': E

[2019-01-19 00:01] jasonycw commented on #492
But I think SAM can at least help translate the template to UTF-8 before
sending to CloudFormation

Keeton Hodgson <notifications@github.com> 於 2019年1月19日 週六 上午2:30寫道：

[2019-01-19 00:37] keetonian commented on #492
That would be good; for now, though, the SAM CLI `sam package` command shells out to the `aws cloudformation package` command to package templates to s3.

[2019-01-19 00:40] keetonian commented on #776
`sam local` is part of SAM CLI, I'll transfer this issue over to the right repo so they can help

[2019-01-19 03:41] brandond commented on #248
I was hoping to use SAM to build out my Identity Provider for [AWS Transfer for SFTP](https://docs.aws.amazon.com/transfer/latest/userguide/authenticating-users.html) and after a bunch of work it turns out SAM still doesn't support IAM Authorizers, which it seems like should have been one of the FIRST things it supported. Subscribing in hopes that I can actually use this tool in a year or so after

[2019-01-19 06:18] himanshu219 commented on #248
@brandond  you can use swagger to support IAM authorizers Here's how we have done it https://github.com/SumoLogic/sumologic-aws-lambda/blob/master/securityhub-forwarder/sam/template.yaml

[2019-01-19 07:08] brandond commented on #248
Thanks @himanshu219, I might give that a try. I was hoping to avoid having to generate my own swagger; the whole point of using SAM was to build the API with only CloudFormation templates and Lambda function code. If I've got to provide a bunch of additional artifacts or configuration then I might as well just go back to using stock CloudFormation and not mess with changesets and such.

[2019-01-19 11:35] mnapoli commented on #751
Thank you so much!

It works when deploying to AWS, however it doesn't work with `sam local`. I guess this is now an issue to follow at https://github.com/awslabs/aws-sam-cli/issues/528

[2019-01-19 16:59] hoegertn commented on #738
Any idea on how to proceed with this topic? @keetonian @jlhood

[2019-01-21 04:04] studds commented on #261
When will the next version be released?

[2019-01-21 18:50] keetonian commented on #163
I agree; this is a limitation in the CFN S3::Bucket resource and it has caused other problems as well (such as a common circular dependency issue between S3 buckets and lambda functions).

[2019-01-21 21:42] milancermak opened #777 "Feature request - Lambda alias shifting"
This is a feature request to "do something like `AutoPublishAlias`, but better." Basically, I would like SAM to support **exactly** the process that is described in #298 and #304.

Before I actually used `AutoPublishAlias` when deploying, my mental model of how it works was just as described in those issues. I did not expect deploying a new stage would remove the previous stage alias. I'm clearly

[2019-01-22 11:10] vasylk commented on #679
+1 can confirm the same behaviour in eu-central-1. PublicAccessBlockConfiguration is not defined

[2019-01-22 13:57] ericofusco commented on #192
Having Domain and Certificate parameters makes sense to me. If Certificate is not passed AWS::Serverless::API  could create AWS::CertificateManager::Certificate resource too.

[2019-01-22 18:17] keetonian commented on #761
If a layer is created without the `Delete` flag set on the RetentionPolicy attribute, it will continue to create new versions and *Retain* old versions. When the `Delete` flag is set, CloudFormation will begin deleting versions *starting from the current version deployed*. That means you have to manually delete old versions if you no longer want them around.

SAM won't automatically delete all of

[2019-01-22 18:17] #761 closed

[2019-01-22 18:30] keetonian commented on #679
Correct. We will update this issue when this is available. You can expect it with the upcoming v1.10.0 release

[2019-01-22 20:40] keetonian commented on #778
Talked with @jfuss who brought up that template validation should depend on whether or not a template is valid, not on the existence of a parameter. Customers should not have to pass in parameters for validation.

[2019-01-23 02:32] createdon2003 commented on #514
Can you share your SAM template with `x-amazon-apigateway-policy` in it. I am facing difficulty in getting it to work. For some reason final cloud formation does not have any resource policy attached.

[2019-01-23 07:53] markwaddle commented on #102
if anyone happens to run across this:
i've found that if the template parameters change then it will update. so i add a required parameter of VERSION and pass in the git SHA.

[2019-01-23 16:07] craigkj commented on #526
Hi there,

I have a similar issue with intrinsic functions with c3 codeUri I think (although specifically with `!Ref` rather than `!Sub`).

What we started with was this:
[code]
however this was causing errors, presumably due to the issues with intrinsic functions here, so we switched to something like this which works:
[code]
However we quite like the parameterisation... So following the above wo

[2019-01-23 22:13] brettstack opened #781 "RFC: API Gateway IAM (AWS_IAM) Authorizers"
This is an RFC for enabling IAM (AWS_IAM) auth type on APIs.

SAM Template:

[code]

CloudFormation/Swagger Output:

1. Adds a `sigv4` security scheme to Swagger
1. Adds `sigv4` to list of `security` for each resource+method using AWS_IAM
1. Adds `credentials` to `x-amazon-apigateway-integration` for each resource+method using AWS_IAM

[code]

Invoking APIs with IAM auth requires requests to be si

[2019-01-23 22:31] brettstack commented on #685
Closing in favor of #781

[2019-01-23 22:31] #685 closed

[2019-01-23 22:33] jlhood commented on #781
I don't get what this part means:

[code]

Is that showing how to override auth for a specific path using function events?

[2019-01-23 22:33] brettstack commented on #512
IAM RFC #781 for those interested

[2019-01-23 22:34] brettstack commented on #781
@jlhood that's correct. I will update with clarification.

[2019-01-23 22:34] brettstack commented on #248
IAM RFC #781 for those interested

[2019-01-23 22:34] jlhood commented on #781
@brettstack Ok. Would also be good to add a Path/Method? Otherwise it looks incomplete to me.

[2019-01-24 14:34] bikerp commented on #387
I'm facing the same issue. In order to make CORS work I have to return Access-Control-Allow-Origin header directly from Lambda function.

[2019-01-24 23:20] #619 closed

[2019-01-25 10:32] tkeeber commented on #192
Any update on this? Would great to make this easier. Ran into this problem again recently.
If need to understand the inner of an abstraction (i.e SAM) in order to use it then surely it's not doing its job?

[2019-01-25 15:37] jasonmk commented on #661
I took a swing at it.  It doesn't include the Globals part yet, but at least it seems to work for individual functions.  I'm not as familiar with the Globals part of the code, but if it's straight forward, I'll try to make that change as well.

[2019-01-25 17:12] brettstack commented on #781
We'll begin implementation based on this spec.

[2019-01-25 17:12] #781 closed

[2019-01-25 18:18] brettstack commented on #661
Nicely done. I'll comment over on the PR with details on Globals.

[2019-01-25 18:35] brettstack opened #783 "API Gateway Custom Domain Names"
## SAM Input:

[code]

## CloudFormation Output:

[code]

## Related Issues

- https://github.com/awslabs/serverless-application-model/issues/192
- https://github.com/awslabs/serverless-application-model/issues/248
- https://github.com/awslabs/serverless-application-model/issues/119
- https://github.com/awslabs/serverless-application-model/issues/40

[2019-01-25 18:35] brettstack commented on #192
I added an RFC for this here https://github.com/awslabs/serverless-application-model/issues/783. I'm going to close out this issue as a workaround has been posted, and we have a path forward to a simpler solution.

[2019-01-25 18:53] brettstack commented on #387
That's right. SAM can only create and configure an OPTIONS method for you to perform the CORS preflight. It can't modify the response from the Lambda Function as API Gateway does not allow for response mappings from Proxy Integrations.

[2019-01-25 18:54] brettstack commented on #248
RFC for Custom Domain Names #783

[2019-01-25 18:54] brettstack commented on #119
RFC for Custom Domain Names #783

[2019-01-25 18:55] brettstack commented on #40
RFC for Custom Domain Names #783

[2019-01-25 19:04] brettstack commented on #526
@craigkj You can't specify a local path like this. The only case where you're allowed to specify a local path is when you run `sam package` which packages and uploads your assets to S3 for you and modifies the template to the correct location it was uploaded to.

[2019-01-25 21:05] hoegertn commented on #783
The Route53 record would be:

[code]

[2019-01-25 22:20] brettstack commented on #783
@hoegertn @timoschilling Thanks. We should probably use `AWS::Route53::RecordSetGroup` to allow for multiple RecordSets. If `IPv6` is a Route53 level configuration only, we should rename `ConfigureRoute53` to `Route53` and allow either an Object accepting properties such as `IPv6`, or a boolean with sane defaults (default to `IPv6: true`?).

[2019-01-25 23:39] brettstack commented on #783
@timoschilling Are you referring to the scenario where you specify REGIONAL, then create your own CloudFront Distribution using IPv6 and point Route53 at that CF Distro? IPv6 aside, we should aim to cover the common use case of self-managed CF Distros.

The main question to answer here is: does that only have ramifications for Domain Name/Route53 (e.g Route53 now needs to point at your CF Distro w

[2019-01-26 02:22] jzjones opened #784 "Confusion about Authorizer: NONE and Auth in general"
**Description:**

I have an API and a Function defined, I have an authorizer defined on the API and am trying to figure out how to apply it to certain functions only.

`Resources:

    AppApi:
        Type: AWS::Serverless::Api
        Properties:
            StageName: dev
            DefinitionBody:
                swagger: 2.0
                info:
                    title:

[2019-01-26 13:55] ericofusco commented on #783
How would the certificate validation work? Can we get the cloudformation output from Certificate resource and add to Route53 or using email is a better option to implement on this flow?

[2019-01-26 17:07] rm-hull commented on #519
Add minimum compression size is logged in issue #419

[2019-01-29 12:39] tkeeber opened #787 "Stage(Prod) already exists in stack"
I am attempting to create a custom domain name and api gateway using SAM.

I have a template which attempts to;
- create a 'AWS::ApiGateway::DomainName' resource
- create an 'AWS::Serverless::Api'
- create a AWS::ApiGateway::BasePathMapping

I have had numerous problems with this deploying. From 'Invalid Stage' to 'Stage already exists' I now have a 'Stage already exists in stack' error when tryin

[2019-01-29 16:42] danludwig commented on #717
I was able to get a 6th workaround, though it is not as great as the macro option and I am going to try that next. Also, we don't use swagger in our serverless templates, that may make a difference, given #650. But the basic idea is that you specify 2 events in the function for each path you want to authorize: one event uses `Method: GET`, the other uses `Method: OPTIONS`:

[code]

This is working

[2019-01-29 18:32] #734 closed

[2019-01-29 18:47] jlhood commented on #778
The issue here is that SAM actually needs to resolve the value of certain parameters in order to generate the logical ids of other CloudFormation resources during the transform. `AutoPublishAlias` is one example where this is true, which is why SAM is failing here. Since these parameters are required when actually deploying the template, it works fine when deploying direct to CloudFormation. Howev

[2019-01-30 03:49] lmunro commented on #257
+1

[2019-01-30 09:34] ssoulier commented on #721
Any update on this feature request ?

[2019-01-30 09:46] kauphylover commented on #721
Another request to the AWS team to prioritize this!

[2019-01-30 10:37] sensriza opened #788 "Cache invalidation authorization in API gateway stage through CloudFormation"
Hi ,

So I used the template attached below testapiauth.json for testing.
Whenever, the "CacheClusterEnabled" property of AWS::ApiGateway::Stage is set to "true", the cache is enabled in Stage as seen from the API G/w console,
but none of the properties defined under MethodSettings get reflected in the API gateway console, but the Stage resource is marked as completed successfully by CFN. Could an

[2019-01-30 11:05] hoegertn commented on #738
Anything new on this topic? It would be great to have this in a future release

[2019-01-30 16:18] tangerinedream opened #789 "InvalidChangeSetStatus when using CloudFormation in CodePipeline to package and deploy SAM"
**Description:**

In the Build Action of CodePipeline, I am using CF to package and deploy a SAM template.

The execution of the deployment is successful 100% of the time.  However, on a random frequency, cloudformation reports the deploy failed (even though it succeeded), which causes the Pipeline to fail in the Build Action.

Here is code from buildspec.yaml.

      - echo "+++++ Transforming SA

[2019-01-30 16:44] gartlady commented on #300
Currently experiencing this issue, any developments?

[2019-01-30 16:45] gartlady commented on #683
Currently experiencing this issue, any developments?

[2019-01-31 11:38] mau-fyayc commented on #652
+1

[2019-01-31 19:42] keetonian commented on #300
@gartlady could you provide any additional information? The S3 triggers still don't show up in the lambda console, but should still work. Are you saying that you can't see the trigger or that the trigger doesn't work?

[2019-01-31 21:00] gartlady commented on #300
The S3 triggers are working but they are not appearing in the lambda console.

[2019-01-31 22:02] bonybrown commented on #650
A workaround exists where if the name of the `Authorizer` defined in the SAM template matches the name of a `securityDefinitions` in the swagger document, AND the endpoint refers to that named security definition, then the correct authorizer will be assigned to the endpoint.

This is often what is desired, because if you have security requirements for the endpoint, you probably want to define them

[2019-02-01 01:35] jzjones commented on #784
Was able to get this working by removing DefinitionBody property from the API

[2019-02-01 01:35] #784 closed

[2019-02-01 02:32] joeythomaschaske opened #790 "AWS::Serverless::Api Definition swagger vs open api 3"
The AWS::Serverless::Api resource has a `DefinitionUri/Body` property for a swagger definition. I did some research and I see that Swagger 2 has been super ceded by Open Api 3.

Can we use Open Api 3 specifications, are there plans to allow usage, or do we still have to user Swagger 2 definitions?

https://swagger.io/specification/#versions

[2019-02-01 04:12] dbettin commented on #721
Another request. Thanks!

[2019-02-01 17:04] keetonian commented on #183
Have you tried:

[code]

SAM tries to make tagging SAM resources easier than the normal CFN equivalent.

[2019-02-01 17:56] keetonian commented on #790
As of right now, you still need to use Swagger 2.0 definitions in SAM. It's in our backlog to support Open Api 3.0; this has been brought up in https://github.com/awslabs/serverless-application-model/issues/7 and https://github.com/awslabs/serverless-application-model/issues/627.

[2019-02-01 18:07] keetonian commented on #683
Related to https://github.com/awslabs/serverless-application-model/issues/300

[2019-02-01 18:12] brettstack commented on #661
Merged into develop. This will go out in a future release. Thanks @jasonmk 👏

[2019-02-01 18:16] brettstack commented on #683
My understanding is this is a Lambda console. If you have AWS Support, you can open a ticket through them. Otherwise, the AWS Lambda Forums might be a good place for this https://forums.aws.amazon.com/forum.jspa?forumID=186

[2019-02-01 18:16] #683 closed

[2019-02-01 18:18] jasonmk commented on #661
Glad I could help!  I look forward to being able to use it.  Cheers.

[2019-02-01 18:43] brettstack commented on #519
`RequireAuthorizationForCacheControl` and `UnauthorizedCacheControlHeaderStrategy` are Stage level settings, and don't belong in `MethodSettings`. Unfortunately we haven't configured `AWS::Serverless::Api` to accept these two properties, but it should be a simple PR for anyone interested in adding them.

Main areas to modify are:

https://github.com/awslabs/serverless-application-model/blob/master

[2019-02-01 18:46] brettstack commented on #581
Unfortunately we can't comment on any specific date, but we are actively working towards a release - this is a top priority for our team.

[2019-02-01 18:52] brettstack commented on #789
Hi @tangerinedream, this doesn't sound like a SAM issue. I think you might get a better response over on StackOverflow.

[2019-02-01 18:52] #789 closed

[2019-02-01 18:59] brettstack commented on #738
We'd be open to a PR on this. Some relevant areas in code:

https://github.com/awslabs/serverless-application-model/blob/cbd4d9ad40a71b838f1e72b3b960689f30890bf9/samtranslator/model/eventsources/push.py#L514

https://github.com/awslabs/serverless-application-model/blob/0425efc396b659c8d0dea5b63c3287cb915d6b34/samtranslator/model/__init__.py#L42

[2019-02-01 19:34] jasonmk commented on #661
Just realized that I forgot to add PermissionsBoundary to the list of supported globals in the docs. Do you want a new pull request for that or is it easier to just add it?

[2019-02-01 19:37] jlhood commented on #661
@jasonmk Go ahead and do a new PR. Thanks!

[2019-02-01 20:05] deleugpn commented on #783
Would love domain on SAM. I'm also curious as to how certificate validation would be handled since that's the biggest issue with AWS at the moment because of how hard it is to automate.

[2019-02-02 00:19] rsram312 commented on #721
@brettstack  Ideally, what I was hoping is if SAM can create the entire ALB and register Lambda as target. Probably following might be capabilities required:

1. Creating an ALB
2. Creating a target group with target type as Lambda with options to enable health check
3. Adding listeners to the ALB
4. Adding listener rules to the ALB
5. Adding permissions to the Lambda to access the ALB
6. Register

[2019-02-02 00:34] brettstack commented on #721
@rsram312 that's very useful. Do you have an existing minimal template that includes all of those required resources?

[2019-02-02 01:06] rsram312 commented on #721
@brettstack  The sample template I was using as workaround leverages boto3 to create those resources. If it might be of any use, I could probably send it over.

[2019-02-02 01:57] joeythomaschaske commented on #790
Awesome, I'll close this guy out.

[2019-02-02 01:57] #790 closed

[2019-02-02 21:19] deleugpn commented on #40
I tried @timoschilling snippet, but I get `Cannot import certificates for REGIONAL while EDGE is active` and I cannot find anything on the internet with this error message.

[2019-02-04 04:14] tangerinedream commented on #789
Hi @brettstack, what do you see that rules this out from being a SAM issue?  I'm simply calling cloudformation package and cloudformation deploy command of a basic SAM file, sequentially in the Pipeline (within 2 seconds per the output shown above).   _Is it perhaps a CloudFormation proper issue?_

**Commands:**
aws cloudformation package --template-file SAM.cf.yaml --s3-bucket codepipeline-us-wes

[2019-02-04 07:16] dan-lind opened #792 "Support WAF for API Gateway"
As announced [here](https://aws.amazon.com/about-aws/whats-new/2018/10/amazon-api-gateway-adds-support-for-aws-waf/), API Gateway now natively supports WAF.

Would be great to have access to this functionality through SAM
More detailed description of steps required to set this up currently can be found [here](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-control-access-aw

[2019-02-04 19:49] brettstack commented on #783
It's been a while since I've done cert creation via CFN. Does the stack stay in CREATING process until you approve the email regarding certificate creation? Email was the only method I was aware of for validation. Any solution needs to also work for other DNS providers.

[2019-02-04 23:08] ngmiller commented on #257
@juve You could probably solve that problem by assigning a role to the function that only allows `logs:PutLogEvents` and *not* `logs:CreateLogGroup`, `logs:CreateLogStream`, etc. This way the lambda would fail when the log group doesn't exist. Depending on your use case, this might not be desirable, but it seems reasonable that a lambda should fail if it's dependencies are not in order (including

[2019-02-05 01:01] shwetaskatdare opened #793 "Certain SAM applications will not nest and fail changeset creation"
**Description:**

**Note: This is a copy of this [forums](https://forums.aws.amazon.com/thread.jspa?threadID=297663&tstart=0) question

All (to be) nested applications described below have been successfully independently deployed from the command line and the Serverless Application Repository.

I was able to deploy one of the applications as a nested application without problem. When I attempted t

[2019-02-05 03:30] ashishsoni opened #794 "Unable to upload artifact ./target/referenced by CodeUri parameter of .... resource"
When i have a local Jar url in the SAM Template YAML Code Build in the AWS fails with below error but it work when i test in local .

Resources:
  GetHelloWorld:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ./target/platform-api-1.0.jar
      Handler: com.nielsen.attr.platform.admin.handler.HelloWorldHandler::handleRequest
      Runtime: java8
      Role:
        Fn::GetAtt:

[2019-02-05 03:56] jlhood commented on #794
Is your buildspec.yaml setup to build the jar before trying to run sam package? If you can share your buildspec.yaml, we may be able to help you further.

[2019-02-05 04:00] ashishsoni commented on #794
@jlhood  Attached.

[buildspec.txt](https://github.com/awslabs/serverless-application-model/files/2830690/buildspec.txt)

[2019-02-05 18:46] jlhood commented on #794
Great! Glad that helped.

[2019-02-05 19:46] deleugpn commented on #248
API Gateway API Keys are not on that list? Would love to be able to create Lambda that requires API Key from SAM template.

[2019-02-06 10:08] pokusak commented on #725
Testing with template from first comment SAM/Cloudformation creates GET and OPTIONS which is perfectly OK.
I am curious if it is OK that both methods are guarded by Cognito authorizer?
This way it would be required from browser to send headers as if it was sending real GET which a) not happening b) probably also not according to w3c specs.
Or does it mean that I have to force browser (via generate

[2019-02-06 20:13] brettstack commented on #783
Some additional (likely less common) scenarios:

1. Single Domain pointing at multiple APIs
2. Multiple Domains pointing at single API
3. Multiple Domains pointing at multiple APIs

Proposal summary: We can allow Domain to also accept an Array for specifying multiple Domains. To point a Domain at additional APIs, the user specifies `Api` in the BasePathMapping (by default, it uses `!Ref ThisApi`).

[2019-02-06 20:24] brettstack commented on #783
@deleugpn I was hoping we'd be able to simply just add a CNAME to Route53 within the same template and that would complete the validation process and let the stack creation complete. Have you tried this/will this not work?

[2019-02-06 20:29] brettstack commented on #783
If adding DNS validation is viable, we should accept an Object for the `Certificate` property:

[code]

Specifying `Certificate: !Ref ...` should also still work

[2019-02-06 20:39] txase commented on #783
Another use case that should be considered and tested: I have a production environment and N dev/test environments. I don't want to provision a custom domain for my dev/test environments.

The way we make this work in Stackery is to allow users to pass in the domain as a parameter. We then check the value of the parameter, and if it matches a specific value (`'false'` in our case), then we don't p

[2019-02-06 20:41] brettstack commented on #783
@txase are you referring to `Condition` support? We can certainly add that; good call out.

[2019-02-06 20:46] txase commented on #783
Yes, that's the largest part of it. But it also requires specifying a sentinel value to test against (e.g. `'false'`). Unfortunately, you can't use `AWS::NoValue` because that can't be passed in as a CloudFormation parameter from SSM Parameter Store.

[2019-02-06 20:52] deleugpn commented on #783
@brettstack it's about whether you're taking a certificate as parameter or trying to create it within the template. It's not about the Route 53 Domain.
I think the only option here will be to take in a Certificate ARN as parameter. If you try to create a Certificate from CloudFormation itself, you have two choices: Email Validation or DNS Validation.
If you choose DNS validation, the stack will sp

[2019-02-06 20:53] brettstack commented on #783
@txase is it not enough for us to just add `Condition` to all of the generated resources if you specify `Condition` in the `Domain` configuration?

[2019-02-06 20:59] brettstack commented on #783
@deleugpn

I see, the Certificate CFN resource doesn't allow returning the values required to configure the DNS https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-certificatemanager-certificate.html#aws-resource-certificatemanager-certificate-return-values so we can't do it within the same template.

[2019-02-06 21:00] txase commented on #783
@brettstack AFAIK, you can't specify a `Condition` on a property, only on a resource. You could do something like:

[code]

But how does SAM then turn that into `Condition` statements on the resources it generates? It could be that when SAM runs as a transform the conditions have already been evaluated and you just have to deal with the property value being either `AWS::NoValue` or a domain name s

[2019-02-06 21:36] brettstack commented on #783
@deleugpn We will definitely allow specifying an existing Certificate via a parameter but I also think the automatic certificate creation workflow is very useful for users, even if it requires them to perform some manual verification step.

[2019-02-06 21:40] brettstack commented on #783
@txase You're right, usually you can't specify `Condition` on CloudFormation Properties, but you can with SAM. Rather, you will soon be able to with SAM. Our next release will include Condition support for multiple Resources/Properties:

#765
#755
#742
#707
#653

[2019-02-06 21:57] deleugpn commented on #721
For me the preference is in specifying an existing ALB and getting the target group and permissions created by SAM.

[2019-02-06 23:15] keetonian commented on #783
@brettstack Those issues + PRs that you referenced are for conditions on Resources, not individual properties of resources. SAM still does not evaluate conditions, it will just more intelligently pass them on to CFN. I'd be cautious about putting conditions in individual properties; putting conditions on resources is what will soon be supported.

[2019-02-06 23:23] guijob commented on #717
@danludwig, your workaround actually calls related lambda function with OPTIONS method, so you'll have to handle preflight request into your code.  So, I suggest @disciplezero workaround which doesn't call any code, I use it and worked like a charm.

[2019-02-06 23:57] brettstack commented on #783
Ahh, I thought #755 added conditions for Events. Either way, I think it's fine adding it to a property like this. This property is just a nested form of a resource; it doesn't modify the properties of the API.

[2019-02-07 00:13] keetonian commented on #783
Sorry, that name is a little misleading. It adds conditions to event resources, not to the event property itself.

[2019-02-07 00:20] carlsborg commented on #367
Bump. User defined distributable plugins is one of the key advantages that the "serverless framework" offers. Its vital to have this in SAM as well. For example, there is an instrumentation library that requires you to add a decorator to every api function. There are plugins available for Serverless Framework, Chalice, and others that make this a one line change, but not SAM because there is no pl

[2019-02-07 01:11] txase commented on #367
Plugins seem like a great solution, but they eventually lead to huge problems. As plugins end up being community owned and maintained, there's no centralized mechanism to ensure they work well together.

See https://github.com/dougmoscrop/serverless-plugin-split-stacks/issues/9 for an example of how issues devolve to people listing all the plugins they use together to try to understand why things

[2019-02-07 06:31] kauphylover commented on #721
I like what @deleugpn suggests - seems like the most natural way to go about it.

[2019-02-07 11:18] steven-gong commented on #59
Hi, @beary
I got the same permission issue for the authorizer lambda function, have you got any solution yet?
Cheers

[2019-02-07 17:32] brettstack commented on #783
Updated proposal to include a simple `BasePath` option which default to '/' and creates a mapping to this API's Stage (`StageName`). Specifying `BasePathMappings` overrides this value (SAM should throw an error if it detects both have been specified).

[2019-02-07 17:45] brettstack commented on #783
Updated proposal to include:

1. `Certificate` Object for specifying `ValidationMethod`
1. Multiple Domains on an API
1. A Domain pointing at multiple APIs

[2019-02-07 18:16] brettstack commented on #783
Since API Gateway doesn't support IPv6 directly and users need to create a CloudFront distribution to enable that, we can't easily create Route53 configuration for this scenario. To do so SAM would also need to be aware of the CloudFront distribution to point to (instead of pointing to the API Gateway endpoint). We could expose the `AliasTarget` property, but I think at that point you may as well

[2019-02-07 18:58] brettstack commented on #721
We will try to accommodate all scenarios.

1. Create everything for you (ALB, Group, Permissions)
1. Create just Group and Permission
1. Create just Permission

[2019-02-07 19:05] deleugpn commented on #721
I'm not sure if it would be possible, but I would guess that the following would be quite an amazing syntax:

[code]

I don't know if I would need to specify anything else other than this.

[2019-02-07 20:17] kjenney commented on #10
It's 2019 and I just ran into the same issue. No descriptive error, just

```FAILED. Reason: Transform AWS::Serverless-2016-10-31 failed with: Internal transform failure.```

[2019-02-08 04:21] talawahtech commented on #308
FYI for anyone that comes across this. The new `sam build` command uses npm to package up the build folder (for nodejs projects), so you can use `.npmignore` to tell it which files should be excluded from the build.

[2019-02-08 17:06] rtjarvis commented on #679
I get this issue in eu-west-2 too.

[2019-02-08 18:18] jlhood commented on #257
@keetonian and I were discussing this issue this morning. As @jfuss said above, the primary blocker to making this change in SAM is that it's backwards-incompatible for existing stacks. If SAM added an `AWS::Logs::LogGroup` resource and you went to update an existing stack containing a Lambda function that had already created that log group, the `AWS::Logs::LogGroup` would fail on creation since t

[2019-02-08 18:18] #257 closed

[2019-02-08 18:28] keetonian opened #800 "Fix Example Applications"
**Description:**

Many example applications have incorrect components. If you find any example application that has an incorrect template, README, code, or just needs to be updated, please comment with what's wrong and link to the example below.

If you find a broken example and know how to fix it, please submit a PR!

[2019-02-08 18:29] keetonian commented on #331
Issue is fixed

[2019-02-08 18:29] #331 closed

[2019-02-08 18:39] keetonian commented on #800
**kinesis-process-record**
https://github.com/awslabs/serverless-application-model/tree/master/examples/apps/kinesis-process-record

Remove irrelevant policy templates, verify code works, fix README to refer to this app (and not a slack app).

[2019-02-08 18:40] keetonian commented on #800
**kinesis-firehose-syslog-to-json**
https://github.com/awslabs/serverless-application-model/tree/master/examples/apps/kinesis-firehose-syslog-to-json

Remove policy templates, verify code works, update README to be relevant.

[2019-02-08 18:42] keetonian commented on #800
**kinesis-firehose-process-record**
https://github.com/awslabs/serverless-application-model/tree/master/examples/apps/kinesis-firehose-process-record

Remove policy templates, verify code, update README.

[2019-02-08 19:23] danludwig commented on #717
@guijob yes agreed! We still need the workaround when debugging with auth enabled on the endpoint locally, but we strip out the options events before committing so that code never gets hit after deployed with the macro transform.

[2019-02-08 19:27] martysweet commented on #323
This feature should also consider the time it takes to perform a Lambda@Edge update, due to the CloudFront distribution update time which CloudFormation waits for.

It is fine for the update to take a while if updating a Lambda function, as long as code has actually changed, and such, would be nice to somehow compare versions to prevent unnecessary new Lambda versions and deployments (though may b

[2019-02-08 19:39] keetonian commented on #51
You may sometimes need multiple capabilities, like when working with nested stacks. You can add multiple capabilities by listing them (separated by a space):
`--capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND`

See https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_CreateStack.html for more information about these capabilities. For most cases, you will on

[2019-02-08 20:37] brettstack opened #802 "Implement AWS_IAM Authorizers"
Based on the RFC #781, we need to implement the AWS_IAM Authorizers feature.

Requirements:

1. Implement Transform
1. Add tests
1. Add example(s)

Some code areas to get started for any interested contributors:

1. Add `InvokeRole` as a valid property of `Auth` https://github.com/awslabs/serverless-application-model/blob/master/samtranslator/model/api/api_generator.py#L20
1. Add an exception for

[2019-02-08 20:38] brettstack commented on #547
Note I added some instructions in #802 for anyone who wants to submit a PR the instructions should be similar.

[2019-02-08 22:00] XDanny322 opened #803 ""sam local start-api" adds data onto payload of POST, when fwding to lambda."
### Description

In short - when running `sam local start-api`, POST some data to the local endpoint so that the data can be sent to a Lambda.. it seems like the data gets "massaged" and are "pushed" under a key called "body".

In long.. I am using sam to create some simple resources.  A Lambda Function, and a API Gateway, which i am declaring directly by calling "AWS::Serverless::Api" and not inf

[2019-02-08 23:01] shexbeer commented on #40
Good question. Please any AWS Guru ?

[2019-02-08 23:16] deleugpn commented on #40
The solution is to set
[code]

[2019-02-09 03:16] bgardella commented on #40
Solid example @timoschilling -- saved me a TON of time.

[2019-02-09 04:31] beary commented on #59
@steven-gong I found solution but I fogot it...
Now I use [serverless](https://serverless.com) instead of aws-sam-cli.
It looks like

[code]
or
[code]

[2019-02-10 13:37] alexharv074 opened #807 "Manually created CORS-enabled Proxy API leads to different config in SAM"
**Description:**

When deploying an implicit API with SAM and then doing what I take to be the same steps in API Gateway in the AWS Console, I end up with a different configuration. To be sure, I'm not sure if this is a support request or a behaviour that needs better documentation or a bug.

**Steps to reproduce the issue:**

1/ In Console, create a Proxy resource. Steps: Go to API Gateway => Cre

[2019-02-11 08:18] MikhailKavaliou commented on #94
I've just run into the similar issue:
Template validation error: Template format error: [/Resources/xxx/get/responses] map keys must be strings; received numeric [200] instead

The swagger template has been generated with the API Gateway export tool in YAML format. Wrapping the 200 response code with double quotes in the generated swagger description has solved the issue.

[2019-02-11 18:24] ylynn commented on #687
Fn::Sub: is not supported either.

For example:
ApiEvent:
          Properties:
            Method: get
            Path:
              Fn::Sub: /${PathName}
          Type: Api

[2019-02-12 08:03] aletheia commented on #362
Personally I do not agree with this position: even if it is convenient for team developing SAM, IMHO it produces a really BAD developer experience. Moreover, used SAM for a while and continuously searching things navigating links pointing to outside references or code is frustrating.

When I am writing SAM services, as a dev I need a fast and quick reference to look up to.

[2019-02-12 12:14] abbottdev commented on #387
@brettstack  - I *think* the hinted at feature here is that if people specify CORS configuration in their cfn templates, the expectation would be that those CORS headers are appended/merged to the output?

I feel that would be a cleaner way of developing - imagine you have nested stacks and the URL of a deployed client app is in an S3 bucket - that URL is output from another stack - The cloudforma

[2019-02-12 17:44] brettstack commented on #387
That's not possible. API Gateway limitations.

[2019-02-12 18:04] systemdesignpartners opened #809 "AWS::Serverless::LayerVersion does not respect a single String Parameter for CompatibleRuntimes"
### Description

In a template.yaml specifying AWS::Serverless::LayerVersion, unable to specify a single !Ref ParameterName to CompatibleRuntimes, even if you try to send it as a List (of one item)

### template.yaml snippet

Parameters:
  MyLambdaRuntimeParam:
    Type: String
    Default: 'nodejs8.10'

Layer1:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: layer-1

[2019-02-12 18:07] jfuss commented on #809
Moving to SAM as this is about the Spec

[2019-02-12 18:22] brettstack commented on #809
Thanks for reporting this; it seems like a bug and should be a quick fix if someone wants to contribute. We need to:

1. Update tests to include this scenario (list of intrinsic functions) https://github.com/awslabs/serverless-application-model/blob/0425efc396b659c8d0dea5b63c3287cb915d6b34/tests/translator/input/layers_with_intrinsics.yaml#L20
1. Allow intrinsics/objects in this parameter for AWS:

[2019-02-12 18:25] brettstack commented on #362
This was done last year.

[2019-02-12 18:25] #362 closed

[2019-02-12 18:36] brettstack commented on #807
I think the API Gateway Console creates the Model for you. You can explicitly create the model using CloudFormation if you need to, though I think you will then need to manually create your OPTIONS method to use that model.

[2019-02-12 18:40] jlhood commented on #803
This is a SAM CLI issue. Transferring to aws-sam-cli repo.

[2019-02-12 19:14] jniedrauer commented on #10
Just hit this myself. No way to tell what the error is.

[2019-02-12 20:19] keetonian commented on #10
It's some uncaught error; I agree that this isn't the best experience. We are starting to root cause and fix some of these. In the meantime, open an issue with an example template that causes the error or reach out on slack and we can work through the issue.

[2019-02-13 02:32] uclaeagit commented on #87
Yeah seems like preprocessing is the way to go here. I'm not even using serverless.com for my API Gateway as I want it decoupled from my lambdas - and I still have the same issue. Painful.

[2019-02-13 02:46] alexharv074 commented on #807
Thanks for the response @brettstack. In addition to this, I found that the Response Headers are missing in the Gateway Responses section too:

Manual:

<img width="1361" alt="screen shot 2019-02-13 at 1 43 00 pm" src="https://user-images.githubusercontent.com/2305330/52683037-acf6d180-2f95-11e9-9d68-48bc6fb3636c.png">

Via SAM:

<img width="1382" alt="screen shot 2019-02-13 at 1 42 11 pm" src="htt

[2019-02-13 03:12] jniedrauer commented on #10
@keetonian I had a field named `ScheduleExpression` instead of `Schedule`. I was able to figure it out by comparing line by line against the examples. No longer an issue for me, but hopefully this helps you cross another one off the list.

[2019-02-13 03:39] keetonian commented on #10
Yeah, a lot of those recently have been with something in the Events section. Thanks for the reply!

[2019-02-13 04:32] Recodify commented on #248
These limitations of SAM templates have now been a high priority for over a year, any news on when they are likely to be addressed? Specifically I'm interested in API keys, CORS and enabling logging.

[2019-02-13 05:25] jfuss commented on #248
@Recodify Many of these have already been [complete](https://github.com/awslabs/serverless-application-model/issues/248#issue-286865391) for some time now.

Logging in [v1.4.0](https://github.com/awslabs/serverless-application-model/releases/tag/1.4.0)
CORS in [v1.4.0](https://github.com/awslabs/serverless-application-model/releases/tag/1.4.0)

[2019-02-13 10:43] abbottdev commented on #387
Ah man - thanks for the info regardless @brettstack

[2019-02-13 20:28] Recodify commented on #248
@jfuss What about requiring an API key, is that currently possible without using a swagger definition?

[2019-02-14 11:48] bleiva opened #813 "VpcConfig Parameter Store Issue"
**Description:**

Hello everyone, I found an issue using SubnetIds in VpcConfig section, I set the parameter as:

Sam parameter:
[code]

Sam code:
[code]

I don't have problem If I use the value from .json parameter file (I'm using CodePipeline for deploying)

Json file:
[code]

But I have problems if I get the value from Parameter Store

Json file:
[code]

Parameter Store:
`VPC-PrivateSubnetsList

[2019-02-14 13:01] deleugpn commented on #248
Would love API Keys. That was merged on #444 and never released.

[2019-02-14 17:52] jamesandersen commented on #350
I've just encountered a very similar issue where I'm trying to use `Fn::If` to pass two distinct lists of rollback alarms.   Instead of evaluating the `Fn::If` function as expected I end up with this:
<img width="1074" alt="codedeploy_fn_if" src="https://user-images.githubusercontent.com/2119576/52806434-e1be6380-303d-11e9-988f-0918886f8edc.png">

Oddly, I have a `Fn::If` for `DeploymentPreference

[2019-02-15 12:47] joshuacura commented on #777
this is also useful for rolling back published versions (thru selecting just the alias) which I think is easier instead of repointing the alias to another version

[2019-02-15 18:13] sthulb opened #815 "Create AWS::Serverless::GatewayResponse resource"
There's a number of issues raised by customers regarding the mix of `AWS::Serverless::Api` and `AWS::ApiGateway::GatewayResponse`

We should do better and create a resource to ensure this works. From my understanding this is a result of merge behaviour and quirks in CFN.

#623

[2019-02-15 18:23] carlnordenfelt commented on #717
I'm seeing the same the same issue.

The only workaround I have found that doesn't require macros or other additional implementation is to not set a DefaultAuthorizer but to apply they Authorizer on each resource instead, when doing it this way OPTIONS will not be authorized but instead falls back to NONE as expected.

OPTIONS requests should not be authorized at all, regardless of what the Defaul

[2019-02-16 04:19] rhboyd commented on #802
Is the idea that it would look something like:

    Auth:
      DefaultAuthorizer: MyCognitoAuth # OPTIONAL
      Authorizers:
        AWS_IAM: some:arn:aws:1

and the serverless macro would transform that into specifying AWS_IAM for the auth type and add the policy to the resource policy on the API?

[2019-02-16 04:21] rhboyd commented on #802
or possibly

    Auth:
      Authorizers:
        AWS_IAM: NOT_AN_ARN

And the macro would create an IAM Role and substitute that role where applicable in the previous comment?

[2019-02-16 05:12] brettstack commented on #802
@rhboyd check out the RFC #781

[2019-02-16 06:36] ellier opened #816 "Circular dependency error with S3 event in Lambda function"
I'm getting the circular dependecy error below. I've tried every example possible I've found on the web and always get the same error. Please, advise.

[code]

[2019-02-16 10:04] carlnordenfelt commented on #815
Would it make sense, to extend the `AWS::Severless:Api` resource with gateway responses to avoid adding another Serverless resource?

Example:
    ExampleAPI:
      Type: 'AWS::Serverless::Api'
      Properties:
        GatewayResponses:
          - ResponseParameters:
               gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
             ResponseType: 'DEFAULT_4XX'

I think the abo

[2019-02-16 21:01] ellier commented on #816
**Solution**: DO NOT USE DependsOn

[2019-02-16 21:01] #816 closed

[2019-02-18 10:05] gitorrin commented on #581
I'm also looking forward to this release..

[2019-02-18 12:58] pahud commented on #694
I got similar issue

[code]

And I got internal transform error.

[2019-02-19 13:24] hwatts opened #819 "No validation of FunctionName"
**Description:**

When deploying an AWS::Serverless::Function with an explicit FunctionName property set, there's no validation that this meets the AWS Lambda function name rules.

**Steps to reproduce the issue:**
1. Deploy the following sam template (note that FunctionName includes a forward slash, which is not allowed for function names):

[code]
2. Check Cloudformation for errors

**Observed r

[2019-02-19 15:39] errdos commented on #300
i am experiencing similar issue with SQS events.
using SAM to deploy lambda with SQS event the lambda receives messages from the queue but the trigger is not visible via AWS console.

[2019-02-19 18:16] brettstack commented on #819
Hi @hwatts, we don't plan on replicating server side validation on the client side.

[2019-02-19 18:16] #819 closed

[2019-02-19 18:32] brettstack commented on #815
@carlnordenfelt is correct, we would need to extend the `AWS::Serverless::Api` with a `GatewayResponses` parameter instead of creating a new resource. In this case we would probably just pass through anything defined on `GatewayResponses` and apply it as `x-amazon-apigateway-gateway-responses` in the Swagger body.

Note we are talking more about the "Merge" feature I alluded to in #623 which will

[2019-02-19 18:36] brettstack commented on #815
For anyone who wants to have a go at implementing this, here are some relevant places in code:

1. https://github.com/awslabs/serverless-application-model/blob/master/samtranslator/model/apigateway.py#L11
1. https://github.com/awslabs/serverless-application-model/blob/master/samtranslator/model/api/api_generator.py#L52
1. Apply the value to swagger https://github.com/awslabs/serverless-application

[2019-02-19 18:43] brettstack commented on #813
This does not sound like a SAM issue. Please try StackOverflow for questions like these.

[2019-02-19 18:43] #813 closed

[2019-02-19 19:09] carlnordenfelt commented on #815
If only it wasn't python :)

[2019-02-20 03:32] jimcatts commented on #777
In the meantime I solved this problem for our needs by post-processing the output of SAM. After we’ve run our templates through a cloudformation package we execute some custom code that goes through the template looking for SAM functions where AutoPublishAlias is true. When we find one we run this function to get the psuedo-random suffix that SAM appends to the end of the FunctionVersion that ulti

[2019-02-20 08:39] errdos commented on #300
please note that when using the Events you are expecting SPECIFIC permissions. giving broader permissions is an issue not a feature. when creating a lambda using SAM and giving an S3 as a trigger i expect that only that S3 is able to trigger the lambda.
giving broader permissions than that seems unsecured.

[2019-02-20 09:58] sthulb commented on #819
There has been a ticket raised internally 😀

[2019-02-21 00:54] ultimagriever commented on #816
I'm having that issue even without DependsOn.

[2019-02-21 22:04] patrickgreenwell commented on #627
Bumping this is this in the pipeline for development? It would seem especially relevant now that API gateway itself supports Open Api 3?

[2019-02-22 09:26] dmenin commented on #683
Hi @brettstack;
I am experiencing the same issue. AWS support pointed me to this case:

"Its seem to be a know issue on the serverless application model. While researching on that I came across one open issue [1], describing the same problem. If possible, I’d suggest you to comment on the same issue [1] so that you can interact directly with the SAM developers who actually wrote the code for it or

[2019-02-22 09:53] dmenin commented on #300
Also experiencing the same issue.

[2019-02-22 10:19] s-nt-s commented on #156
me to

[2019-02-22 11:51] latheesan-k commented on #71
If you are using a bash script to automate the package & deploy then you can add this after the `sam deploy ...` command:

[code]

[2019-02-22 15:38] brettstack commented on #683
See my closure comment. It is thought that this is a Lambda Console Issue

[2019-02-22 16:10] dmenin commented on #683
Hey @brettstack, AWS doesn't seem to think that as their support pointed me to this link. (The quoted statement I posted above is the reply I got after opening a case with Support).
Thanks for your help

[2019-02-22 18:27] davidtwamley commented on #261
I'm eagerly waiting on this one. Several sessions at re:Invent (3 months ago now) sold me on using this idea for enabling loosely coupled microservices. I'm using an ugly hack for now to mimic this feature where I do my own filtering in the listeners. 20 lambdas answer and 19 hang up immediately. Not scalable and it probably interferes with the SNS retry logic. If possible, please pressure managem

[2019-02-22 21:09] keetonian commented on #816
The solution: git your S3 bucket a `BucketName`.

[2019-02-23 21:50] Grigol commented on #633
@Private-SO , your approach worked well here. I gave up using implicit API on SAM for now.
Thanks.

[2019-02-24 07:01] cshenrik commented on #349
@jlhood: Let med add some more feedback. I am composing serverless applications using the AWS::Serverless::Application resource. In one SAM template I need to nest two applications that both use an API gateway. In this scenario it's not possible to make the two nested applications share the api gateway because:

Any ideas for workarounds?

[2019-02-25 15:01] shailendrasharma83 opened #823 "Lambda Versioning Issues"
Hello Team,

This is regarding the issue which I faced during lambda versioning.

We used AutoPublishAlias in SAM template for versioning/aliasing of lambdas which has a restriction that we cannot provide custom description to versions. Intent is to pass commit id as a description as a correlation id between lambda version and commits which generated the versions.

Resource AWS::Lambda::Version is

[2019-02-25 15:13] shailendrasharma83 opened #824 "Multi Region deployment :: Region per resource in single SAM template"
Hi Team,

For eg. We have a stack (SAM template which creates Lambda + API GW + SES templates) running in London region.. This will try to create all the resources in the region of execution.

As SES is not available in London region stack creation will fail.

There should be a mechanism in SAM Templates to over ride the default execution region for a particular resource. if I continue my example.

[2019-02-25 22:21] ultimagriever commented on #816
I've tried that, still getting circular dependency issues, either when setting up `Events` in the Lambda function or `NotificationConfiguration` on the S3 bucket.

[2019-02-25 23:08] verzac commented on #514
Hi team, what's the status of this? Is it still RFC?

I personally think that resource policies should follow the format given by API Gateway to minimise confusion (but instead of chucking it under a Swagger spec, we can chuck it in directly as part of Serverless::Api's property).

The only issue right now with me not using the "insert x-amazon-apigateway-policy" route is that I'm hesitating to lo

[2019-02-25 23:10] verzac commented on #514
Hi team, any update on this one? Is it still RFC? Keen on having resource policies as part of SAM templates.

[2019-02-26 02:20] halfpress commented on #137
@wjbuys @dinvlad I'm curious if there was any resolution to the error cited below:

I am encountering precisely the same error. It's driving me more than a bit nuts because this is the answer given in many discussions and seems to be the only sane way I can do substitutions for the ARN references in my swagger.yaml file.

Every bit of documentation suggests the Fn::Transform is supported in this c

[2019-02-26 09:07] deleugpn commented on #783
Although this is an annoying limitation on SAM (compared to the Serverless Framework, for instance, that has plugin for custom domain for over a year), it's still something workable. Here's what I added to my Serverless template

[code]

Note that when deploying for the first time, the `stage` might not exist yet and because it generates a random element, we might not be able to explicitly set a d

[2019-02-26 15:46] horike37 commented on #802
Hey @brettstack, I would like to start working on this since this feature is needed for my job.
No problem?

[2019-02-26 18:32] brettstack commented on #815
@carlnordenfelt curious which language you would prefer.

[2019-02-26 18:32] keetonian commented on #633
We've commented about how to implement this in https://github.com/awslabs/serverless-application-model/issues/547, and I agree that it would be better if it could work with the Event configuration in Serverless::Function. Closing this issue in favor of https://github.com/awslabs/serverless-application-model/issues/547

[2019-02-26 18:32] #633 closed

[2019-02-26 18:33] brettstack commented on #802
Absolutely! We look forward to a PR. ❤️

[2019-02-26 18:45] brettstack commented on #783
@deleugpn

| Note that when deploying for the first time, the `stage` might not exist yet and because it generates a random element, we might not be able to explicitly set a dependency to it

The name will be "ServerlessRestApiProdStage". That is, the format is `{API_LOGICAL_RESOURCE_ID}{STAGE_NAME}Stage` https://github.com/awslabs/serverless-application-model/blob/master/docs/internals/generated_

[2019-02-26 18:55] jlhood commented on #349
@cshenrik Really appreciate the additional context and feedback. Agreed, adding triggers based on resources in your current template to functions defined within a nested application is not made easy by SAM today.

Currently, you would have to manage your own API swagger document to add the nested app function as an integration.

What do you think about the possibility of being able to specify even

[2019-02-26 19:03] keetonian commented on #823
I think we could expose an optional `VersionDescription` property on Serverless::Function, that would take a description that would only be added to the generated AWS::Lambda::Version resource.

This parameter would be added here to Serverless::Function:
https://github.com/awslabs/serverless-application-model/blob/master/samtranslator/model/sam_resources.py#L32

Pass parameter to version:
https://

[2019-02-26 19:18] brettstack commented on #349
I think adding a new property to Serverless::Api would solve this problem and more. Maybe we call this `Paths` for Swagger symmetry.

[2019-02-27 00:06] keetonian commented on #824
Are you saying that you'd like the ability to, in one template from one region, deploy resources to multiple different regions?

If you want to not deploy something in a certain region, CFN conditions can help with that, and SAM support for Conditions on `Serverless` resources is coming with our next release.

[2019-02-27 05:13] ebsiii1966 commented on #254
I was having the same issue - I modified a default CodeStar project using Node/Lambda, but I could not get the Lambda function to access my DynamoDB table.  I was able to fix the permission problem by adding the following line to the LambdaExecutionRole in the template.yml file.
`-  arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess`

Below is this section of the template.yml file with the line abov

[2019-02-27 06:48] carlnordenfelt commented on #815
@brettstack feels like we are hijacking the issue a bit but my go to is nodejs or even Java. Not too familiar with the ins and outs of python.

[2019-02-27 12:33] jbutz commented on #717
Python isn't a language I've used much but I am working on fixing this and adding unit tests to detect regressions. It looks like flipping the order CORS and auth are added to the API Gateway and adding a security value to the OPTIONS endpoints added for CORS should handle it.

[2019-02-27 16:47] Buffer0x7cd commented on #815
@brettstack I would love to work on the above issue.

[2019-02-27 19:37] juniorclarke commented on #349
Just hit the CFN 200 limit today (yes, @jlhood, I am reusing roles) and looking for a workaround led me to this issue.

I initially tried to pass the "AWS::Serverless::Api" as a parameter to "AWS::Serverless::Application" but then I got the dreaded "The REST API doesn't contain any methods" as it seems CFN is trying to deploy the API before it builds the other nested stacks.

Any workarounds?

I r

[2019-02-27 22:04] iDVB commented on #323
Would also love to see Lambda@Edge abstraction in SAM. We're currently in the process of porting over some of our Serverless Framework implementations to SAM and Edge functions are something we use heavily.

I'd like to point out a few things that would also be great if this support included.

1. Stacks containing Edge functions fail when deleting the stack. This will always happen unless the edge

[2019-02-27 22:20] MorneRensburg commented on #183
This format worked for me, it needs the value to be in quotes:
[code]

[2019-02-28 00:03] juniorclarke commented on #349
@brettstack I'm thinking of your proposed solution and I'm not sure I follow. How can adding a property to the Serverless:Api make the nested stacks all share the same Serverless:Api reference?

[2019-02-28 04:12] brettstack commented on #349
You would use GetAtt on the Lambda Functions Output from the nested stack. The API would then create the permissions and set up the route just like it does when you define API Events on a Function.

[2019-02-28 04:26] jlhood commented on #349
@brettstack Yeah it would be interesting to also have a simplified syntax around adding function integrations on the `AWS::Serverless::Api` resource itself. I think that would be a nice feature to add. However, that doesn't solve the same problem for if my nested stack contains a function that I want triggered by a non API resource, e.g., an S3 bucket or SNS Topic. The solution I'm proposing would

[2019-02-28 05:23] brettstack commented on #349
Are you saying the S3 bucket is defined in the parent template? Can't you just pass through the S3 bucket ARN and SAM will create the permission for you? I suppose SAM also modifies the notification configuration on the bucket (not sure off the top of my head if something similar happens for SNS), so you would lose that (though you can set it yourself).

[2019-02-28 13:34] horike37 commented on #802
Hey @brettstack, My PR #827 is just ready for review!
Please go ahead 👍 😄 Thanks!

[2019-02-28 16:50] deser opened #829 "Cant load Api Gateway definition (Open API 3.0.1) via AWS::Include from bucket"
Hi Guys,
I have very strange error.
When I try to setup it so it fails:
[code]
Error is: `Invalid OpenAPI input. (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException; Request ID: 204ce2a8-3b76-11e9-ba5c-637fcce65ff2)`

In file I'm calculating ARNs of lamdas defined in main template:
[code]

When I just `unwrap` contents of `s3://<mybacket>/openapi3.yaml` and put to `Defini

[2019-02-28 20:23] sthulb commented on #787
I'm pretty sure this is the same as: #191

[2019-02-28 21:40] GarimaBathla opened #830 "complete folder path where artifacts should be uploaded"
**Description:**
`SAM package` command only takes the bucket path today to upload artifacts. It should also take in the complete bucket/folder/folder/... path.

*** Why? ***
In CI/CD world, it is very common to test a build and use the same artifact to promote. If there was a way to control where artifacts went (e.g. bucketName/projectName/typeOfBuild/commitId/ it could still be used to promote to

[2019-02-28 21:49] michaelj-smith commented on #830
@GarimaBathla You may not be aware of the `--s3-prefix` option in the SAM package command. This will probably provide you with what you need. Oddly enough, the `--s3-prefix` option does not seem to be included in any of the documentation for SAM CLI.

For more than a year, I've been directing teams with a build/package/deploy process that uses a package command like this:

[code]

This supports a

[2019-02-28 21:52] michaelj-smith commented on #830
Ah, I believe that the option is not documented in the `sam package` command, but it is available in the `aws cloudformation package` command.

Use `aws cloudformation package help` to see the options available.

`sam package` is intended to be an alias for `aws cloudformation package`, so generally I have my build system (e.g. CodeBuild) use the aws cloudformation command so that it doesn't have

[2019-02-28 22:18] GarimaBathla commented on #830
Thanks @michaelj-smith this worked. Yes it should have been documented.

[2019-02-28 22:20] GarimaBathla commented on #830
Well, I will do the documentation for this use-case.

[2019-02-28 22:31] alexdilley commented on #125
@brunomorency out of genuine curiosity, why did you not simply choose to use Serverless Framework? Because SAM _is_ AWS ecosystem?

[2019-03-01 00:34] juniorclarke commented on #349
@brettstack and @jlhood this sounds great. Are you going to put out an RFC, or get this prioritized. I think more people with hit the 200 CFN limit sooner than later due to #285. If #285 is fixed it may give you some breathing room to flesh out the RFC with more customer feedback. My current workaround is to have multiple API endpoints. It’s ugly but it works for now.

BTW keep up the great work.

[2019-03-01 18:23] keetonian commented on #254
If you're using CodeStar, you need to define your own role and give it the necessary permissions; this seems to be a limitation on CodeStar. Otherwise, you don't need to define your own role and SAM will create a role for you and add the permissions you specify in the `Policies` property.

We can't fix this for two reasons:
1. This would fail deployment on existing templates if we validated that,

[2019-03-01 18:23] #254 closed

[2019-03-01 18:28] keetonian commented on #815
@Buffer0x7cd Absolutely! Go ahead and give it a try, and reach out if you have any questions!

[2019-03-01 18:30] keetonian commented on #323
@iDVB Could you provide some more information on what you'd like SAM to provide as part of support for Lambda@Edge?

[2019-03-01 18:30] brettstack commented on #717
Sorry for being late to the party. There are valid use cases for adding Auth to preflight. I have provided @jbutz with the following comment on their PR #828, and then once everything is ready we can get that merged in.

| I don't think we should be adding this in every scenario. Please add an additional property to the `Auth` property called `AddDefaultAuthorizerToCorsPreflight`. This property sh

[2019-03-01 18:47] keetonian commented on #787
I think you need to remove the `AWS::ApiGateway::Deployment` resource; SAM will create one of those for you and that's probably where the `Stage already exists` error is coming from. In your `BasePathMapping` resource, you should use `Stage: !Ref Api.Stage` to reference the stage created by `AWS::Serverless::Api`.

[2019-03-01 19:01] keetonian commented on #829
I think this is the same issue as #305

When the swagger or OpenApi definition is merged from some other source, it seems like CFN is not able to resolve references to other resources. In your case, this is your reference to:
[code]

Closing in favor of other issue.

[2019-03-01 19:01] #829 closed

[2019-03-01 19:10] deser commented on #829
Thanks!

[2019-03-01 19:17] sthulb commented on #787
@keetonian I managed to reproduce this without adding my own deployment resource.

[2019-03-01 19:20] brettstack commented on #514
As a first pass for this feature, we should just do the `Auth.ResourcePolicy.CustomStatements` implementation. The `[IAM|Ip|SourceVpc][Allow|Deny]List` features are syntactic sugar. This would be a good first issue.

1. Check if `ResourcePolicy` property exists on `Auth`like we do here for checking `Authorizers` https://github.com/awslabs/serverless-application-model/blob/cbd4d9ad40a71b838f1e72b3b

[2019-03-02 03:55] justabuzz commented on #240
@Drag0 wouldn't specifying the AWSLambdaVPCAccessExecutionRole managed policy spare us from an inline policy with these permissions?

[2019-03-02 11:04] justabuzz commented on #240
OK, so for those who use AWS CodeStar to generate a CI/CD pipeline for an API Gateway+Lambda application and stuck with this error when trying to set the lambda in a VPC - this is a problem in the lambda's execution role's Permission Boundary. The boundary is auto generated as part of CodeStar provisioning the necessary resources. This policy doesn't have the necessary permissions for allowing the

[2019-03-02 22:44] mxpv opened #832 "AWS::Serverless::Function with Condition=false tries to resolve !Refs"
**Description:**
I use `Condition` property for creating resources depending on CF parameter configuration.
I noticed that when `Condition` is set to false in `AWS::Serverless::Function` (resource is not going to be created) it still tries to resolve references.

**Steps to reproduce the issue:**
Here is an example of template to reproduce the issue:
[code]

**Observed result:**
When `CreateResour

[2019-03-03 04:39] yan12125 opened #833 "Is 1.9.1 an official release?"
Version 1.9.1 can be found on PyPI [1], while in this repo the latest version appears to be 1.9.0 [2].

Is 1.9.1 an official release?

[1] https://pypi.org/project/aws-sam-translator/1.9.1/
[2] https://github.com/awslabs/serverless-application-model/releases

[2019-03-03 07:59] smuryginim commented on #300
Experienced the same issue. I can see no development was done for one year.
Do someone knows another way to configure the same configuration (without SAM)?

[2019-03-03 09:28] Buffer0x7cd commented on #823
@keetonian I am currently trying to work on this issue. But I am having a bit of a hard time figuring out how does the `VesrionDescription` parameter will be passed to `LambdaVersion` class. I tried looking at the class definition of the `Resource` Class. From what I understood after looking at the class definition is that the `attribute` parameter is used to pass all the parameters that exist out

[2019-03-03 11:15] errdos commented on #300
use:
    Type: AWS::Lambda::EventSourceMapping
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.html

[code]

[2019-03-03 17:49] oozzal commented on #191
I've been using SAM for about a month now. Kudos to the team and contributors for this wonderful tool!

Adding my 2 cents.

When `AWS::Serverless::Api` is explicitly defined and `StageName` (a required attribute) is set to `Stage`, deployment fails with `Stage already exists` when trying to create `AWS::ApiGateway::Stage` resource.

<img width="1121" alt="sam-stage-already-exists" src="https://use

[2019-03-03 19:47] Buffer0x7cd commented on #736
@keetonian  I would like to work on this issue. but it looks like you have already worked on the initial application. let me know if there are any other additions to this feature that needs to be worked upon.

[2019-03-03 19:54] Buffer0x7cd commented on #823
Hi, @keetonian My PR [835](https://github.com/awslabs/serverless-application-model/pull/835) is ready for Review. Please take a look and provide any necessary feedbacks.

[2019-03-04 02:15] brunomorency commented on #125
@alexdilley SAM is already a layer on to p of CLoudFormation, I *really* didn't want to add yet another layer on top of everything. Especially one that is outside AWS ecosystem and will always attempt to find a common denominator with other platforms.

[2019-03-04 08:38] dan-schw opened #836 "Lambda Custom Deployment configurations in CodeDeploy cant be referenced in SAM template under DeploymentPreference"
**Description:**

When creating a Lambda function with a deployment configuration (DeploymentPreference) you need to specify a Type. There are some defaults as defined here: https://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations.html#deployment-configurations-predefined-lambda

However we are unable to use a custom deployment configuration from CodeDeploy. When we make t

[2019-03-04 09:06] dan-schw commented on #836
SAM Template

[code]

CF Processed template:

[code]

[2019-03-04 19:34] smuryginim commented on #300
I can see that for event source arn only next values are available

Amazon Kinesis – Default 100. Max 10,000.
Amazon DynamoDB Streams – Default 100. Max 1,000.
Amazon Simple Queue Service – Default 10. Max 10.

No S3 option.

[2019-03-04 20:54] 42degrees opened #837 "Python3 Canary wrong readme"
The example in examples/apps/lambda-canary-python3/readme is incorrect as it is talking about the Slack slash Lambda, and not the Canary Lambda.

[2019-03-05 08:17] zllvm opened #838 "Gradual deployment for AWS::Serverless::Function fails from time to time due to permission error"
**Description:**

When using gradual deployment SAM feature with Hooks, hook lambda fails with AccessDeniedException _from time to time_ (there are periods during the week when our pipe could be stuck for an hour or more due to this), though in most cases it works pretty fine.
Although I am aware of [eventual consistency for IAM changes](https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoo

[2019-03-05 09:30] GarimaBathla opened #839 "Unable to pass Lambda Funciton ARN to Swagger Definition"
I have a standard setup:

[code]

In the above setup  I am able to refer Lambda FunctionName in `Swagger.yml`
[code]

IN Swagger URI I can use RefA and RefB variables:

uri: !Sub arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:xxxxxxxxxx:function:**${RefA.FunctionName}**/invocations

This Works.

Now I am trying to pass Lambda Functions `Arn` instead of just

[2019-03-05 11:06] P00L opened #840 "Feature Request: CORS response headers on lambda throttling"
When you enable CORS support for your API (like in the snippet below) it all works perfectly. Easy to define, read and manage, except in case your lambda exceed timeout execution, in this case the client receive an exception `Check CORS is enabled` instead of a throttling error, due to the fact that headers are not present in the response handled by API gateway since you have no control on Method

[2019-03-05 17:45] chrisoverzero commented on #815
@Buffer0x7cd I'm also working on this -- I hope we're not duplicating each other's work too much! Let's sync up if you've already started.

In my implementation, I've broken it down a little more than it was in OP. For example, to recreate (kinda) my use-case from #623:

[code]

(I just grabbed this from one of my test cases -- please don't think it's fully representative.)

I'm a hair over 95% co

[2019-03-05 18:15] jlhood commented on #787
@tkeeber Can you try removing the `AWS::ApiGateway::Deployment` resource and then changing the `AWS::ApiGateway::BasePathMapping` resource to be this and see if it works. Key changes are removing the deployment, adding a condition on the API GW stage, and removing the BasePath property since if you specify it, it can't be an empty string according to the CFN docs.

[code]

[2019-03-05 18:19] jlhood commented on #832
@mxpv `AWS::Serverless` resources do not yet support conditions. However, our next release (1.10.0, coming very soon!) will add condition support. Keep an eye on issue #142 for updates on the status of this feature. Closing this as a duplicate.

[2019-03-05 18:19] #832 closed

[2019-03-05 18:21] jlhood commented on #833
@yan12125 Thanks for bringing this up. 1.9.1 was a quick patch release to unblock SAM CLI. We did not publish official release notes for the release since it didn't change existing SAM functionality. Our next official release is 1.10.0, coming very soon.

[2019-03-05 18:21] #833 closed

[2019-03-05 18:47] jlhood commented on #736
@Buffer0x7cd Thanks for offering to contribute! We think the app Keeton wrote is a sufficient example of this use case. Closing this issue.

[2019-03-05 18:47] #736 closed

[2019-03-05 19:05] jlhood commented on #836
@dan-schw Thanks for reporting this issue. You're correct, SAM's support for Lambda canary deployments only supports the predefined deployment configurations provided by CodeDeploy and does not support custom deployment configurations.

For backwards-compatibility reasons, we cannot change the existing behavior to remove that prefix. However, we could make a change so the predefined lambda deploym

[2019-03-05 21:52] chrisoverzero commented on #815
This is now in #841.

Hey, while I'm here, is the translator meant to be runnable from the `bin` directory? I had to move it up one to the project root before it would run.

[2019-03-06 03:10] rickyinnz commented on #71
Adding `--no-fail-on-empty-changeset` seems to work i.e., allow bash script execution to continue even if there were no updates made to the stack.

[code]

[2019-03-06 04:37] dan-schw commented on #836
Thank you for the response.

All makes sense. I had considered those different approaches to fixing this. Maybe someone can look into attempting this as it has been a requested feature in the past.

Thanks again,
Dan

[2019-03-06 12:07] samuel02 opened #842 "Transparency around release cycle"
We are building a project based on SAM and are in need of some features that are already merged to `develop` but not in `master`. There hasn't been a release since November last year and it would be nice to understand more when we can expect the next release. Looking at https://github.com/awslabs/serverless-application-model/compare/master...develop there are quite a few things waiting to be relea

[2019-03-06 22:28] jlhood commented on #842
Hi @samuel02. Thanks for your feedback regarding transparency around release cycles. I'm happy to say we just released v1.10.0 of SAM today, so the features you're waiting for have just been merged to master. 😊

Currently, the best way to be notified of new SAM releases is to watch this repo for release notifications. We hear your feedback and are looking at other ways to increase transparency aro

[2019-03-06 22:28] #842 closed

[2019-03-06 23:14] keetonian commented on #758
Released!

[2019-03-06 23:14] #758 closed

[2019-03-06 23:14] keetonian commented on #696
Released!

[2019-03-06 23:14] #696 closed

[2019-03-06 23:14] keetonian commented on #679
Released!

[2019-03-06 23:14] #679 closed

[2019-03-06 23:14] keetonian commented on #669
Released!

[2019-03-06 23:14] #669 closed

[2019-03-06 23:15] keetonian commented on #661
Released!

[2019-03-06 23:15] #661 closed

[2019-03-06 23:15] keetonian commented on #614
Released!

[2019-03-06 23:15] #614 closed

[2019-03-06 23:15] keetonian commented on #612
Released!

[2019-03-06 23:15] #612 closed

[2019-03-06 23:15] keetonian commented on #603
Released!

[2019-03-06 23:15] #603 closed

[2019-03-06 23:16] keetonian commented on #581
Released!

[2019-03-06 23:16] #581 closed

[2019-03-06 23:16] keetonian commented on #580
Released!

[2019-03-06 23:16] #580 closed

[2019-03-06 23:16] keetonian commented on #463
Released!

[2019-03-06 23:16] #463 closed

[2019-03-06 23:16] keetonian commented on #419
Released!

[2019-03-06 23:16] #419 closed

[2019-03-06 23:16] keetonian commented on #280
Released!

[2019-03-06 23:16] #280 closed

[2019-03-06 23:17] keetonian commented on #261
Released!

[2019-03-06 23:17] #261 closed

[2019-03-06 23:17] keetonian commented on #142
Released!

[2019-03-06 23:17] #142 closed

[2019-03-07 02:27] luketn commented on #721
The valid range of priorities is from 1 - 50,000.

One approach we could take to this is to default the value to a random number 40,000 to 50,000 catch the exception of an already used priority and choose again.

As long as the path / domain is unique, the priority should not matter.

[2019-03-07 03:16] keetonian commented on #815
@chrisoverzero I do that too haha. It has a few other bugs as well, it needs to be updated.

[2019-03-07 06:36] samuel02 commented on #842
@jlhood that's really good news, thanks! 😄

[2019-03-07 10:40] deleugpn commented on #721
SAM would be limited to deploy up to 10,000 lambdas on a single Listener, I guess that's fine.

[2019-03-07 11:16] yan12125 commented on #833
I saw 1.10.0 out. Thanks for the efforts!

[2019-03-07 11:51] vasylk commented on #679
Thanks, guys!

[2019-03-07 17:03] Buffer0x7cd commented on #836
@jlhood I would like to work on the above issue :smile:

[2019-03-07 17:31] triplewy commented on #249
If I created an API within a SAM template, can I access it from another SAM template? Technically the API is "inside" the cloudformation stack. Is it possible to do this?

[2019-03-07 20:33] jlhood commented on #836
@Buffer0x7cd Great! Looking forward to the PR. 😃

[2019-03-08 03:27] senseibaka commented on #479
@brettstack do you have an ETA for fixing this? Cheers

[2019-03-08 17:25] ericallam commented on #793
I'm facing the exact same issue, with a serverless application published to the repository that deploys successfully through the repo but fails with the above error when used as a nested application.

The Serverless Application can be found [here](https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:958845080241:applications~lambda-logs-event-source), and I'm attempt

[2019-03-08 18:17] keetonian commented on #249
Yes, you can access it from another template (either by exporting values or referencing outputs from nested stacks). However, you can't use any SAM features this way, so API events or swagger generation and other SAM features don't work across stacks.

[2019-03-08 18:28] keetonian commented on #837
Thanks for bringing this up! Closing in favor of issue #800

[2019-03-08 18:28] #837 closed

[2019-03-08 19:19] brettstack commented on #479
@senseibaka can you describe your problem including template?

[2019-03-08 20:52] senseibaka commented on #479
@brettstack I've observed that making a configuration change to the api doesn't result in a redeployment of the stage -- so the configuration change doesn't get reflected on that stage's endpoint. Manually deploying the stage after the fact resolves this.

For example, adding the following to my SAM/CFN template, does not result in a new `AWS::ApiGateway::Deployment`:
[code]

[2019-03-08 21:48] davidtwamley commented on #261
Works great! Thank you all very much.

[2019-03-11 17:14] sgates commented on #349
@brettstack I got excited for a minute because I thought you were saying there is an existing workaround for shared Gateway - but I see you were thinking out loud. +1 for needing this, we're currently breaking up our API set into several separate gateways because of the limit. It's that permission per endpoint that's killing us - we have maybe a dozen lambdas that each handle maybe another dozen e

[2019-03-11 20:51] atmakurig opened #849 "how can I import an existing cloudfront distribution to SAM Lambda@Edge"
**Description:**

**Steps to reproduce the issue:**
1.
2.
3.

**Observed result:**

**Expected result:**

[2019-03-12 01:36] kangks commented on #330
I tried to overcome this by explicitly define API, but when I inspect my Lambda function in the console, I noticed the api event to my lambda function has *mixture* of stage, for example, for `GET` Method, the API event is from stage prod (e.g. https://1icye4gf2i.execute-api.us-west-2.amazonaws.com/prod/users), but for `PUT` the API event is from stage Stage (https://1icye4gf2i.execute-api.us-west

[2019-03-12 10:07] iDVB commented on #323
@keetonian Sorry, I meant it more as a mention if there aren’t already ways to do this with SAM. I’m brand new to it; previously using Serverless Framework exclusively. Once I take an honest dive in, I should have a better feel for what might be missing. Just could not google much in the way of Lambda@Edge and SAM. But I’m starting to think this is because SAM doesn’t really abstract functions and

[2019-03-12 11:26] johnc44 opened #850 "Examples of using Swagger (or Simplify to avoid needing them)"
Would it be possible to add some samples showing how to use Swagger?  It's all quite unintuitive to me and the documentation currently isn't that helpful.  I found a really old example that didn't help very much, so something that really shows how to use it.

In particular considering both inline swagger (in template.yml) and external in a swagger.yml file.

I did manage to get something working b

[2019-03-12 11:29] johnc44 opened #851 "How to set expiry on Cloudwatch logs?"
How can I set the Expiry of the Cloudwatch logs generated for a function?

There's a PR here: https://github.com/awslabs/serverless-application-model/pull/460 but it's never been merged in.

Is there another way or is it something I need to script myself and run afterwards?

It would be really helpful if that PR could be merged.

[2019-03-12 13:01] robermar2 commented on #337
We just ran into this issue as well.  API Gateway in SAM Template with about a dozen api events.  Not that large at all.

If we create a new stack from scratch we do not get this error.  It started happening with an existing stack we are updating.

Similar to @keenskelly

[2019-03-12 17:08] jlhood commented on #793
@ericallam We're sorry you're experiencing this issue. Can you provide the region you're attempting to deploy the above template in as well as an approximate time of the attempt so we can look into it further?

[2019-03-12 17:23] jlhood commented on #840
@P00L API Gateway's CORS support expects the Lambda function to return the appropriate CORS headers in the response. So any issue invoking the Lambda will result in API Gateway returning a CORS error back to the client. The way to work around this is to configure Gateway Responses in API Gateway. SAM currently doesn't support defining Gateway Responses for the swagger that it implicitly generates.

[2019-03-12 17:23] #840 closed

[2019-03-12 17:47] jlhood commented on #839
@GarimaBathla We're sorry you're experiencing issues passing stage variables to your swagger definition. `AWS::Serverless::Api`'s Variables property does support CloudFormation intrinsic functions like `!Ref`, `!Sub`, and `!GetAtt`. There are some parts of your problem description that are making it difficult for us to determine what's happening in your specific case.

In your first example sets s

[2019-03-12 21:11] GarimaBathla commented on #839
thanks @jhood. I will test tonight and report back on the status. For me when using ${RefA.FunctionA} works fine for now (not sure why missing stageVariables prefix is not erring.

[2019-03-13 07:22] Buffer0x7cd commented on #836
@jlhood my PR is ready for review. please let me know anything that needs to be changed.

[2019-03-13 08:04] uokitomer commented on #652
Is there any plan to include this feature in the near future?

[2019-03-13 11:39] ericallam commented on #793
@jlhood I managed to figure out what was going wrong, when deploying the parent stack from the command line with `sam deploy`, I was missing the `--capabilities CAPABILITY_AUTO_EXPAND` flag. When including that I was able to deploy successfully.

[2019-03-13 14:55] jlhood commented on #836
@Buffer0x7cd Yes we saw. Thank you so much! It's on our list to review. We'll get to it as soon as we can.

[2019-03-13 14:56] jlhood commented on #793
@ericallam Great, glad you were able to figure it out!

[2019-03-13 15:24] johnc44 commented on #839
It would be a lot simpler if the swagger spec could take in a function name instead of the full uri.  I presume it wouldn't be simple to add this in as an alternative?  I don't really know how swagger and cloudformation fit together but it does seem a bit unnecessary to put the full uri in there.

[2019-03-13 22:04] jona commented on #248
I'm also interested in seeing this be implemented. Any timelines on it? I also noticed it's not on the checklist at the top.

Thanks!

[2019-03-14 09:18] johnc44 opened #852 "OSX Build and Deployment problems"
On Mac OSX Mojave, sam build and sam package don't work for me.
[code]

Adding --use-container works, however.

Those dependencies do exist.  I've tried uninstalling and reinstalling them.

[code]

Using aws cloudformation instead of sam works.

I remember when I tried to install sam it wouldn't install through brew and I had to use pip.  (Cant remember what the exact problem was now.).  I also ha

[2019-03-14 13:09] dpolicastro opened #853 "sam build copies just the source code to .aws-sam artifacts to improve speed"
**Description:**
I notice `sam build` cleans up all the artifacts built inside .aws-sam and builds everything again, but sometimes I just want to update the source code to run it locally, so I think it would be good if I could pass some flags to `sam build` like `--no-dependencies` or `--only-code` to force just the copy of the source code, instead of building all artifacts again.

**Observed resu

[2019-03-14 16:06] dpolicastro commented on #853
Closing since its a sam-cli feature request

[2019-03-14 16:06] #853 closed

[2019-03-14 18:53] jlhood opened #854 "Feature Request: Add SQS option to SNS event"
**Description:**

SAM offers simplified syntax for SNS -> Lambda and with #261 supports adding subscription filter policies. However, a common use case is SNS -> SQS -> Lambda. SAM offers simplified syntax for SQS -> Lambda, but you have to use standard CloudFormation to setup the SNS -> SQS connection and subscription filter policy, which can be verbose.

SAM could add a lot of value by adding an

[2019-03-14 18:57] otaviofff commented on #854
That would be really helpful indeed.

[2019-03-14 19:39] TeddyHandleman commented on #349
@jlhood Has there been any traction on this? Not only is this great for applications with a large number of endpoints, but also for the sake of of modularity.

 In addition, I'm wondering if another, slightly similar, solution might be the possibility of being able to modularize our Swagger/OpenAPI documents for each function? I apologize if this is slightly out of scope, but I think this ticket i

[2019-03-15 16:50] shailendrasharma83 commented on #824
answer to your question is .. Yes .. reason being .. few services are region bound and as the resources are functionally related to each other hence they can be part of the same template where as due unavailability of one of the service in that region that resource can be deployed in the appropriate region.

[2019-03-15 17:26] brettstack commented on #802
Thanks @horike37! This has been merged to develop and we'll get it out to production asap.

[2019-03-15 20:53] rhboyd opened #857 "Proposal: Less server serverless applications"
I would like to be able to use SAM to directly proxy requests from API Gateway to DynamoDB. It feels like Lambda sits at the center of SAM and almost all of the features are geared towards shuttling data through Lambda with as little friction as possible. If I wanted to create an API that allowed a user to POST some data, which was mapped to a DynamoDB PutItem request, then a lambda processed the

[2019-03-16 04:34] horike37 commented on #802
Great! Can't wait to release 😄

[2019-03-18 15:54] shakirjames commented on #429
I had the same issue: https://github.com/awslabs/serverless-application-model/pull/858

[2019-03-18 21:23] pofallon opened #859 "Can't publish templates that contain (or leverage) CloudFormation Macros"
**Description:**

SAM throws an error when attempting to publish a template containing an `AWS::CloudFormation::Macro` resource.  It also throws an error when attempting to publish a template that leverages an existing Macro via a `Transform` section.

**When trying to publish a template _containing_ a Macro resource:**
**Steps to reproduce the issue:**
1.  Create a template that contains an `AWS:

[2019-03-18 22:54] bethesque commented on #71
@sanathkr I am confused as to why this is closed in favour of the aws cli change. How does this help those using sam deploy?

@latheesan-k  do you have evidence that the 255 exit status is *only* used when there are no changes to deploy, and for no other reason?

[2019-03-19 13:19] mvanbaak commented on #71
Because ```sam deploy``` uses ```aws cloudformation deploy``` in the background

[2019-03-19 15:08] ericallam commented on #793
The above comment doesn't seem to be the actual issue here, because I am still getting the original error when attempting to deploy the parent stack in `eu-west-2`. I've only gotten the deploy of the parent stack to work when deploying to us-east-1

[2019-03-19 15:58] sdrioux commented on #838
We are having the same issue, and found that separating the pre traffic lambda Role did not help.  It's intermittent, but is a huge pain.

[2019-03-19 20:00] latheesan-k commented on #71
@bethesque From what I observed, when you run sam deploy, it always returned 255 with the message about no changes to apply, but I think this is misleading.

the whole process is deferred, when you deploy it packages up the CF template and uploads it to S3 and then another process kicks in to apply the changes, which can independently fail for various reasons.

[2019-03-19 20:12] keetonian commented on #859
Closing, as this is an issue with the Serverless Application Repository and what resources they allow or don't allow and not with SAM. I'll bring this up with that team, this is a known limitation.

[2019-03-19 20:12] #859 closed

[2019-03-19 20:13] jlhood commented on #859
Note, you can find the list of resource types supported by SAR here:

https://docs.aws.amazon.com/serverlessrepo/latest/devguide/using-aws-sam.html#supported-resources-for-serverlessrepo

[2019-03-19 21:31] bethesque commented on #71
@mvanbaak does sam deploy now expose that flag? I tried using the flag with the same name for sam deply, and it failed saying it didn't know what the option was, but I am suspecting my version of the awscli is out of date.

[2019-03-19 22:52] mvanbaak commented on #71
@bethesque Yes, then your aws cli is out of date.
```sam deploy``` is just an alias/wrapper around ```aws cloudformation deploy``` and as the help from ```sam deploy --help``` states, you can use all the flags that ```aws cloudformation deploy``` understands.

I just tested the flag with the latest awscli installed and it works perfectly.

After you updated your awscli, things should work. Good lu

[2019-03-19 23:46] keetonian commented on #850
@johnc44 have you tried letting SAM generate the swagger for you? If you don't have a `DefinitionBody` or a `DefinitionUri`, SAM will generate swagger on your Serverless::Api based on the Events that reference it.

[2019-03-20 08:01] annjawn commented on #617
Any news on Cognito support yet?

[2019-03-20 08:41] johnc44 commented on #850
Thanks very much for the reply.  I could have sworn I read that one or the other was required, but I've just tried it and it does seem to work.  (And I checked the docs which also say that this is possible.)

I'll have to try it with path params too, but I presume that will work, in which case that's a better solution than what we have right now.

The only problem is that this looks quite limited

[2019-03-20 10:32] mrjomp commented on #561
This needs to be reopened, it has not been fixed and it's part of the SAM templates

[2019-03-20 16:31] brettstack commented on #617
This is already available https://github.com/awslabs/serverless-application-model/tree/master/examples/2016-10-31/api_cognito_auth

[2019-03-20 17:16] annjawn commented on #617
Thanks @brettstack, yes I noticed that later.

[2019-03-20 17:47] ravibarkhani commented on #721
Hello, is SAM supports event from ALB now ?
I tried to create a TargetGroup using cloudformation it fails in two way:
[code]

1) With below template it fails with error : "Port cannot be specified for target groups with target type 'lambda' (Service: AmazonElasticLoadBalancingV2; Status Code: 400; Error Code: ValidationError; Request ID: 3eaa3569-4b36-11e9-a442-1f94e3803149)"

2) When I do not pro

[2019-03-20 23:34] kylegordon commented on #721
This is still an issue. I get the same errors as @ravibarkhani

It's been 4 months since Lambda targets for ALBs was announced, and Cloudformation is lagging behind.

[2019-03-21 13:23] stephenwil commented on #627
To help demonstrate the differences:
https://blog.readme.io/an-example-filled-guide-to-swagger-3-2/
https://blogs.sap.com/2018/01/05/open-api-spec-2.0-vs-3.0/

[2019-03-21 19:04] evantorrie commented on #105
This should be possible now since Cloudformation has added a `Region` parameter to the SNS Topic subscription format, viz. https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-sns-subscription.html

[2019-03-21 19:05] evantorrie commented on #105
@DaichiUeura Can we reopen this?  Given that it's now supported in CloudFormation?

[2019-03-22 08:24] bikerp opened #863 "RFC: Globals for nested applications"
Hi, it would be nice if nested applications could inherit globals declared in root template.

[2019-03-22 10:47] jdtjenkins opened #864 "Passing CodeUri as a parameter to an application"
Hello,

My team has recently started trying to use SAM, specifically with Applications but we've hit a problem and I can't find anyone else talk about it anywhere else. There are a few issues with passing a CodeUri to a function as a !Ref, which is ok - however our issue is slightly different.

We are wondering if it's possible to pass a local CodeUri (`hello-world/`) as a parameter into a local a

[2019-03-22 11:16] drvdijk commented on #191
@jfuss @sanathkr Does this default `Stage` stage also explain the creation of the **two** `AWS::Lambda::Permission` resources in the transformed template named `[FunctionName][EventName]Permission[StageName]` (eg `HelloWorldFunctionHelloWorldTestPermissionProd`) and `[FunctionName][EventName]PermissionTest` (eg `HelloWorldFunctionHelloWorldTestPermissionTest`)?

[2019-03-22 14:06] rustyautopsy opened #865 "Proposal: Use template credentials fo `sam local`"
The goal here is to be able to properly test the configured IAM Roles/Policies for the Lambda(s) **before** deploying, running, dig through logs, find the error, update Lambda and repeat.

To do this I am thinking of doing the following, I would love to know if there is a better way.

- parse SAM template for Functions
- create an IAM user "sam-local-<function-name>"
- UPSERT ~/.aws/config & ~/.aw

[2019-03-22 17:24] jlhood commented on #849
StackOverflow is a more appropriate forum for questions like this. Please ask your question there and provide more details to ensure you can get the help you need. Thanks!

[2019-03-22 17:24] #849 closed

[2019-03-22 17:30] jlhood commented on #330
@kangks I'm not sure what you mean by a mixture of prod and Stage. The resource+methods defined by the swagger definition body should exist in both prod and Stage, meaning both prod and Stage API Gateway stage endpoints should support both GET and PUT methods to /users.

[2019-03-22 17:38] jlhood commented on #851
@johnc44 Here are the current options:

1. Explicitly define an `AWS::Logs::LogGroup` resource in your SAM template whose name matches Lambda's convention: /aws/lambda/<lambda function name>. Caveat: This will only work for new stacks, because if you try to add the log group resource to an existing stack where the Lambda function has already been invoked, the log group will already exist and Cloud

[2019-03-22 17:38] #851 closed

[2019-03-22 17:48] jlhood commented on #839
@johnc44 Thanks for your feedback. The `x-amazon-apigateway-integration` swagger extension is an API Gateway feature. The full URI is necessary, because API Gateway supports more types of integrations than just Lambda functions. For example, it can call other AWS services directly, e.g., Amazon DynamoDB, or it can call an http endpoint (more information [here](https://docs.aws.amazon.com/apigatewa

[2019-03-22 17:48] jlhood commented on #839
@GarimaBathla Closing this issue. Feel free to reopen with updated details from your testing if you are still experiencing issues.

[2019-03-22 17:48] #839 closed

[2019-03-22 17:55] jlhood commented on #854
Happy to work with anyone interested in picking this up!

[2019-03-22 18:05] jlhood commented on #349
@juniorclarke @sgates @TeddyHandleman Really appreciate the detailed comments and feedback! I think the best path forward is to split this out into a separate RFC issue so we can focus on defining the right syntax/experience for this. I'll go ahead and create that RFC issue.

[2019-03-22 18:13] jlhood commented on #824
@shailendrasharma83 SAM is an extension on top of CloudFormation which can only operate at the individual stack level. Since stacks are bound to a single region, SAM cannot provide the kind of cross-region functionality you're asking for.

CloudFormation does have a feature called [Stack Sets](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-concepts.html) which allow you t

[2019-03-22 18:13] #824 closed

[2019-03-22 18:19] brandond commented on #191
@drvdijk yes, and IIRC the PermissionTest one is excessively broad and actually grants any stage access to invoke your function. It's insane to me that this hasn't been cleaned up yet.

[2019-03-22 18:26] sgates commented on #349
@jlhood that's great to hear, and thanks. Looking forward to progress on this!

[2019-03-22 18:37] TeddyHandleman commented on #349
@jlhood Awesome! Thank you so much.

[2019-03-22 18:54] bramkoot commented on #865
I agree that this would be a great feature. In terms of implementation, I would much more prefer something like the policy simulator ([docs](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_testing-policies.html#policies-simulator-using-api)).

[2019-03-22 19:25] jlhood opened #866 "RFC: Support Events on functions within AWS::Serverless::Application"
**Description:**
Per https://github.com/awslabs/serverless-application-model/issues/349#issuecomment-475723188, creating a separate RFC for a SAM syntax that would allow functions provided by nested applications (`AWS::Serverless::Application`) to be attached to event triggers via the same Events syntax as `AWS::Serverless::Function` resources.

High-Level Approach: Add a new SAM resource type: `A

[2019-03-22 19:31] jlhood commented on #349
@cshenrik @juniorclarke @sgates @TeddyHandleman Opened #866 with a more generalized proposal that would support more than just the nested app use case. Would really appreciate your feedback!

[2019-03-22 19:35] brettstack opened #867 "Rebase and refactor ApiKeyRequired feature"
This feature (https://github.com/awslabs/serverless-application-model/pull/444/files) was merged into a feature branch (https://github.com/awslabs/serverless-application-model/tree/feat/auth) while we worked on the design for Auth as a whole. Now that we have that, we should rebase this change and refactor it to use the `Auth` property so that we can get this merged into develop.

[2019-03-22 19:51] sgates commented on #866
I believe this would solve the major issue we're currently having, that is, sharing a single API Gateway across multiple AWS::Serverless::Application's. This would allow us to define groups of lambdas and endpoints in a modular way (in a sub stack) and then bring them all together in a unified API front end. This would be a huge win for those experiencing the pain of 200 resource limit, max policy

[2019-03-22 20:03] jlhood commented on #867
@tylersouthwick Would you be willing to do this? We'd love to get this out into an official release!

[2019-03-22 20:35] mikebroberts commented on #866
Definitely useful. I think this is a good first pass. Vague things on my mind:
- Try to allow a simple model if possible where only one of Name and ARN is necessary
- Do versions / aliases play into this more than just ARNs? E.g. would traffic shifting impact "upstream" function references?
- How would permissions work, e.g.  if target Lambda in a different account - can SAM do anything to smooth

[2019-03-23 18:48] johnc44 commented on #851
Thanks for the info.  I had tried option 1 before, but it seemed to have some weird behaviour.  I can't remember exactly, but I think it worked the first time, then stopped afterwards and caused problems with updates.  Not entirely sure but I will give it another go.  If not, I will investigate the option options.

With the PR, can it not be altered to work in a backwards compatible way?  It's a r

[2019-03-23 23:44] Buffer0x7cd commented on #854
@jlhood I would like to work on this issue.

[2019-03-25 01:43] Jay1305 opened #869 "Not able to debug python function"
**Description:**
Not able to debug the python function that is out-of-the-box created using SAM. I can debug other python files (not just AWS SAM files) from VS code.

**Steps to reproduce the issue:**
1. I have followed the guide here - https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-debugging-python.html
2. I modified some part as this guid

[2019-03-25 07:41] trilom commented on #627
adding a +1 here, was ecstatic to remove some code that converted OAS3 to OAS2, but really sad to run into this issue.  For my specific need, I am wanting to utilize OAS3's oneOf feature to indicate that an API endpoint has different responses for a 200 request.

[2019-03-25 12:15] bbernays opened #870 "Serverless Application Conditional Creation"
**Description:**
It seems that Conditional attribute is not being respected for `AWS::Serverless::Application`

**Steps to reproduce the issue:**
1. Define `AWS::Serverless::Application` pointing to non-public application in us-east-2
2. Add conditional statement that evaluates to False
3. run sam build --region us-west-2

**Observed result:**
I get the following error:
`samcli.commands.validate.l

[2019-03-25 12:36] zomgbre commented on #627
+1 as well, we are running into the same issue.

[2019-03-25 12:51] alatui commented on #627
+1

[2019-03-25 18:30] jlhood commented on #854
@Buffer0x7cd Awesome, thank you so much! Before implementing, we need to finalize the SAM spec. The draft I created above just has a simple `UseSQS` boolean, but we'll want a way to surface some of the options of the SQS event source like BatchSize and Enabled. I'll update the spec in the issue description with exactly what we want to support, then I'll post a comment so you'll know when it's read

[2019-03-25 18:46] jlhood commented on #854
@brettstack @keetonian I've updated the issue description with the proposed SAM spec for this feature. Can you both review?

[2019-03-25 20:18] brettstack commented on #854
Do we have precedent for overriding generated logical resource id like `QueuePolicyLogicalId`? Do we need it?

What's a better name than `UseSQS` - `[Forward|Push|Send]ToSqs`? `SqsSubscriptions`?

Can we allow an array of queues also?

[2019-03-25 21:10] jlhood commented on #854
Thanks for the feedback, @brettstack!

This would be something new. Maybe this is a little selfish, but in the [Event Fork Pipelines](https://github.com/aws-samples/aws-serverless-event-fork-pipelines) apps we just released today, I'm specifying the Queue and QueuePolicy explicitly. Once this SAM feature is released, I'd love to convert over to using it since it makes the template even easier to r

[2019-03-25 21:37] keetonian commented on #850
@johnc44 one or the other used to be necessary. It is possible that some part of the docs or examples still says that this is a requirement, if you find it let us know and we (or you, if you'd like to submit a PR) can change that.

I'm not very familiar with all the APIGW features, but for responses, will the upcoming GatewayResponses feature (#841) work for responses and documentation?

[2019-03-25 21:40] keetonian commented on #561
@mrjomp could you provide more details of what your error is and how you encountered it? Is it the exact same as the original post in this issue?

[2019-03-25 21:44] brettstack commented on #854
Given that use case I'm okay with adding the logical resource id name override.

The wording in docs is around "subscribing" an SQS Queue to an SNS Topic, so I'd like to get that word in there to make it clear what it is you achieve by specifying this property. `SqsSubscription`, `SubscribeSqs` (variation: replace `Sqs` with `Queue` or `SqsQueue`).

Multiple Event entries wouldn't be as succinct.

[2019-03-25 21:45] keetonian commented on #721
You can use any cloudformation resource in your SAM templates; SAM does not alter these resources. You should be able to use any new feature from CFN in SAM without a SAM update unless an update is required to one of the `AWS::Serverless::*` resources.

[2019-03-25 22:21] keetonian commented on #105
Reopening since CFN added support.

[2019-03-25 22:27] keetonian commented on #863
@bikerp Since SAM can't access or change the nested templates, this isn't currently possible. This would require giving SAM permission to read and change arbitrary templates in customer S3 buckets, which I think shouldn't be allowed and isn't currently possible.

I think the best workaround is to have parameters for your global values and you can pass those parameters into the globals on your root

[2019-03-25 22:27] #863 closed

[2019-03-25 22:59] jlhood commented on #866
Thanks for the feedback, @mikebroberts!

I think we can simplify it to only require FunctionName and then construct the ARN if necessary assuming the function is owned in the same account (see below for why cross-account wouldn't be supported).

Good question. In cases where I've seen traffic shifting used, you end up doing something like `!Sub ${MyLambda}:live` wherever you need to specify a func

[2019-03-26 06:45] kangks commented on #330
The mixed of stage name, for example, `/prod/hello` for `DELETE` and `/Stage/hello` for `GET`, do not affect the functional.

Confirmed the behavior by testing the Hello World example with successful invocation of API GW on `/prod/hello` for `DELETE`.

[2019-03-26 08:10] johnc44 commented on #850
Thanks very much for the reply.   I think being able to define responses might well help.  I had a very quick look at the PR and it seems like you define responses on the gateway not individual methods.

I think for each method I'd like to define what the request and response JSONs look like, as well perhaps as what status codes they might return.  I am new to Swagger though, but believe this sort

[2019-03-26 14:09] jlhood commented on #330
@kangks Thanks for the update. Sounds like this isn't a SAM issue then.

[2019-03-26 17:12] keetonian commented on #838
This seems to be a Cloudformation issue and not something that SAM can fix. If SAM creates the correct policy, that's about all we can do, as SAM transforms resources into CFN and lets CFN create all of the necessary resources. Let me know if there is a way that SAM can fix this, but as far as I can see, we can't fix this eventual consistency issue.

[2019-03-26 17:12] #838 closed

[2019-03-26 17:13] keetonian commented on #838
Closing, but please re-open if there is something we can do. I think the forums or AWS support are better resources to help with this issue.

[2019-03-26 17:15] keetonian commented on #857
This is an interesting idea. Would be happy to work with someone to implement this. Leaving this up for +1's.

[2019-03-26 17:31] keetonian commented on #777
@milancermak thank you for bringing this up. I agree that we should update the documentation to more clearly state these "best practice" decisions that SAM makes. Your other point is also a good one; I agree that we need to better support the "best practice" way of making Alexa Skills.

I haven't made an Alexa skill yet, could you post some of the thing you have found that are necessary when makin

[2019-03-26 17:34] rhboyd commented on #857
@keetonian I have a solution that I'm speaking to the API Gateway team about this week. I'd love to be able to add it to SAM

[2019-03-26 17:43] keetonian commented on #854
I like `SqsSubscription`

[2019-03-26 17:46] rhboyd commented on #857
My goal was to make the API Integrations mimic the boto3 sdk calls so if you wanted an API that listed route53 hostedzones, it would look like

    GetMethod:

    Type: AWS::ApiGateway::Method

    'Fn::Transform':

      - Name: SimpleAPI

    Properties:

      AuthorizationType: NONE

      RestApiId:

        Ref: RestAPI

      ResourceId:

        Ref: SimpleProxyResource

      HttpMethod:

[2019-03-26 17:48] jlhood commented on #854
Thanks. Updated it to `SqsSubscription` in the top-level RFC comment.

[2019-03-26 17:52] keetonian commented on #105
This should be a simple contribution if someone wants to make it:

Update [sns.py](https://github.com/awslabs/serverless-application-model/blob/master/samtranslator/model/sns.py) to match the CFN equivalent in the [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-sns-subscription.html)

Add `Region` into the [SNS Event](https://github.com/awslabs/serverless-applica

[2019-03-26 18:04] markstos commented on #514
Is there a workaround if this feature is not available? I want to use `serverless` to publish a Lambda/API-Gateway pair that can only be called some specific security groups in my VPC.

[2019-03-26 18:29] jlhood commented on #866
We were discussing this today and while we agreed `AWS::Serverless::FunctionReference` is a more general solution (works with `AWS::Serverless::Application`, `AWS::CloudFormation::Stack` and `Fn::ImportValue`), we should try to provide an even more concise experience for the specific use case of adding triggers to functions defined within an `AWS::Serverless::Application` resource. We came up with

[2019-03-26 18:50] sgates commented on #866
I think this makes sense - In this scenario, the API Gateway still lives in the main template, and then groups of lambdas (the NestedApps) would effectively be given access to it through the FunctionReferences in the main template? If I'm understanding that correctly I think that would be fine.

Would this mean in the nested stack, the lambdas defined there don't need Event properties because thos

[2019-03-26 19:07] sfali16 commented on #661
Hi @keetonian you mentioned that this is released.
I can see the documentation updated according to - https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction  - sam supports specifying a PermissionsBoundary.
However, when I try to use this in a template, I see an error.
[code]
 I also see a similar error if i skip template validation and sim

[2019-03-26 19:15] jlhood commented on #866
Thanks for the quick response, @sgates! In general, this is more a developer experience/syntax discussion, not changing the proposed functionality described in the original `AWS::Serverless::FunctionReference` RFC. Just adding extra convenience for the nested app use case.

I'll play around with the syntax. You're right that we might be able to get it even closer to the Events syntax. The only cav

[2019-03-26 19:19] jlhood commented on #661
@sfali16 Upgrading to the latest version of sam CLI should address this. If it doesn't, please open an issue to the [SAM CLI](https://github.com/awslabs/aws-sam-cli) repo.

[2019-03-26 19:21] keetonian commented on #661
SAM CLI [version 0.13.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v0.13.0) and newer contains these new features. It should work if you upgrade to this or a newer version (0.14.1 is the newest).

[2019-03-26 20:21] jlhood commented on #866
I think this is the closest I can get to looking like the Events property of `AWS::Serverless::Function`:

[code]

I had to turn it into an array of event triggers, because normally SAM uses different keys for different event triggers, but if we're using the key for the function name, we need a way to support multiple event triggers on the same function.

[2019-03-26 21:43] milancermak commented on #777
I don't know of any Alexa specific best practices when it comes to SAM. A skill is "just another Lambda function." However having the aliases behaviour as I've described in the issue would help.

[2019-03-27 12:53] sgates commented on #866
This makes sense to me, and the syntax isn't as confusing as the previous version because it explicitly calls out "Events" - more intuitive IMO. Thanks for all the effort on this!

[2019-03-27 18:51] lanefelker commented on #627
+1

[2019-03-27 18:52] sdrioux commented on #793
We are also getting the same message on multiple repositories now:

[code]

[2019-03-27 19:17] elsapeng commented on #793
We are also getting the same message today when deploy with nested stacks

[2019-03-27 19:19] HansiMou commented on #793
Facing the issue now.

[2019-03-27 19:41] jboehle commented on #793
Starting seeing this in the last hour.

[2019-03-27 20:30] keetonian commented on #793
@sdrioux @elsapeng @HansiMou @jboehle can you all specify in which region these issues are occurring?

[2019-03-27 20:36] HansiMou commented on #793
@keetonian us-west-2

[2019-03-27 20:38] HansiMou commented on #793
Recovered now. Looks like some large scale event happening in that region.

[2019-03-27 20:46] keetonian commented on #793
Yes, there was a LSE in PDX (us-west-2): https://status.aws.amazon.com/

The issues in SAM were from that LSE, it looks like things are back to normal now.

[2019-03-27 21:01] jboehle commented on #793
Thanks, yes looks resolved now. Mine was in us-west-2 as well.

[2019-03-28 17:10] maynardflies opened #874 "Using intrinsic functions in AWS::Serverless::Function Policies section puts the output in ManagedPolicyArns instead of Policies in resultant role"
**Description:**

The Policies section of an AWS::Serverless::Function resource accepts both Managed policy names, and policies themselves.

In my template, I wish to exclude a policy from the list when a resource isn't created, and that is determined by a parameter.  I do this with a Fn::If statement thusly

[code]

When I set "CreateDaxCluster" to `false`, this works fine, and the Dax policy is

[2019-03-29 01:49] sfali16 commented on #661
That did it - thanks !

[2019-03-29 17:10] torntrousers commented on #475
Would be a nice feature to have

[2019-03-29 17:22] jlhood commented on #874
Thanks for reporting this issue! The problem seems to be an assumption the code is making that if an intrinsic function is being used within the Policies entries, it will resolve to a managed policy ARN, but this assumption is incorrect in the above case.

These fixes can be a bit tricky, because we don't want to reimplement CloudFormation intrinsic functions except in simple cases. However, there

[2019-03-29 17:32] jlhood commented on #793
@ericallam Are you still experiencing this issue?

[2019-03-29 17:49] jlhood commented on #514
@markstos The current workaround is to hand-manage the swagger definition of the serverless API.

[2019-03-29 17:51] jlhood commented on #514
Also want to reiterate @brettstack's https://github.com/awslabs/serverless-application-model/issues/514#issuecomment-468780531 that a first-pass fix of this issue is actually a pretty simple targeted fix. If someone from the community wants to step up and take it, that would be terrific!

[2019-03-29 17:52] markstos commented on #514
@jlhood I'll take a look at this.  At this point, I invested time in the `serverless` approach, so I can either spend some time on the fix I need, or spend time backing out of the `serverless` approach.

[2019-03-29 17:56] jlhood commented on #854
@Buffer0x7cd I've updated the top-level issue comment with the finalized spec for this feature, so it should be ready to implement once you're finished with your [other PR](https://github.com/awslabs/serverless-application-model/pull/848). Let me know if you have any questions. Thanks!

[2019-03-30 00:04] jlhood commented on #514
@markstos Thank you!

[2019-03-31 05:19] rohandalvi commented on #874
@jlhood I'd like to pick this up as my first issue.

[2019-03-31 06:18] jlhood commented on #874
@rohandalvi Thanks so much! I think the change will be to check if the intrinsic is `Fn::If`, then call `_get_type()` recursively on the 2nd and 3rd arguments. When you resolve the types of those args, there can be a few cases:

1. Invalid template, e.g., there aren't 3 arguments passed to `Fn::If` -> raise `InvalidTemplateException`.
1. Both args are `!Ref AWS::NoValue`. This is essentially a no-

[2019-04-01 00:46] bethesque commented on #71
Thanks @mvanbaak!

[2019-04-01 08:25] Private-SO opened #876 "AutoPublishAlias not working in cloudformation"
This is an issue.

**Steps to Reproduce**

Below are the lambda functions.

**markleV1**
[code]

**markleV2**
[code]

1) Deploy the below cloudformation template

[code]
After deploying the above template i can see that it had produced an alias,version and lambda function.

2) Here i had changed the `codeuri` of the above template to like this
`"CodeUri": "s3://dynamodbputtest/markleV2.zip"`  and

[2019-04-01 13:20] hernangarcia commented on #300
Experiencing same issue here. How do we open this again?

[2019-04-01 14:55] markstos commented on #514
Getting setup just to contribute to this project is enough of a pain that I think I'll just give up on converting the server I had in mind to the serverless model. Here's a snapshot of what I experienced:

`make install` asks me to remove the `.pyenv` directory:

[code]
So I remove the directory and try again:

[code]

`pyenv` has been installed in `~/.pyenv/bin`, which is *where it is recommended

[2019-04-01 19:03] jlhood commented on #514
@markstos I'm sorry you had a bad experience trying to get setup to contribute to SAM. Did you follow the instructions in the [Development Guide](https://github.com/awslabs/serverless-application-model/blob/master/DEVELOPMENT_GUIDE.rst)? That has detailed instructions on how to get setup. You shouldn't need to run `make install`.

[2019-04-01 21:53] sambanks commented on #40
@timoschilling +1 saved me a tonne of time. Is there an example similar to this in the docs anywhere or would it be worth putting in a PR?

[2019-04-02 02:18] GaGaMan1101 opened #877 "catboost.predict errors in Lambda"
### Description

I am trying to deploy a catboost model in AWS Lambda.
I use sam to `build`, `local invoke lambda function`, `package`, `deploy`, all work.
However, I had errors when I ran the test in Lambda console.

Note: as the dependencies of catboost has unzipped size more than 250MB. I kept zipped dependencies in S3, and downloaded to lambda `tmp` folder and then import.

### Steps to reprod

[2019-04-02 17:09] keetonian commented on #300
This is a breaking change, so we wouldn't be able to do this unless we made a new version of SAM. I agree, though, that this should be fixed.

Lu's comment (https://github.com/awslabs/serverless-application-model/issues/300#issuecomment-408950770) describes what needs to be changed.

[2019-04-02 17:30] keetonian commented on #876
Did your stack update complete successfully?

I just created a stack with `AutoPublishAlias: live` and verified that the alias was created correctly and pointed to the published version of the function. I then updated my function and deployed to the stack again, which caused a new version to be created and the `live` alias was successfully updated to point to that new version.

I could see which v

[2019-04-02 17:38] keetonian commented on #877
Hi @GaGaMan1101 , this doesn't seem to be a SAM issue. A better place to bring this up would be on Stack Overflow, [AWS Lambda Forums](https://forums.aws.amazon.com/forum.jspa?forumID=186), or with AWS support.

[2019-04-02 17:38] #877 closed

[2019-04-02 17:40] Private-SO commented on #876
Thanks @keetonian .

Yeah my stack updated successfully but didnt created new version. You are saying i` had updated the function and deployed to the stack` , Did you tried with my above configuration ?

Because the above configuration didnt worked for me .
Thanks

[2019-04-02 17:50] keetonian commented on #876
Ok, I'll try the exact steps you recorded. Did you update the stack with `aws cloudformation deploy` or how did you update the stack?

[2019-04-02 17:56] keetonian commented on #627
Other issues about OAS3: https://github.com/awslabs/serverless-application-model/issues/790, https://github.com/awslabs/serverless-application-model/issues/7

[2019-04-02 17:56] Private-SO commented on #876
No i didn't tried it with `aws cloudformation deploy` , i deployed using cloudformation console.

[2019-04-02 21:33] abbottdev commented on #664
Can this be re-opened so it can be added to the documentation?
(Specifically, https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api-auth-object)

I just wasted a couple hours which would have been saved if it were there 😄 no dig, just so others don't hit the same thing 👍

[2019-04-02 22:15] jlhood commented on #664
@abbottdev Sure, reopening. Would you be willing to contribute the PR to update the docs? You can follow [this guide](https://github.com/awslabs/serverless-application-model/blob/master/DEVELOPMENT_GUIDE.rst) to get setup or even make the change directly via the GitHub UI since it's just a documentaiton change.

[2019-04-03 08:47] ntamvl commented on #651
@brysontyrrell thank you so much

[2019-04-03 11:15] LacikIgor commented on #756
@jlhood Any plans to allow the use of **DefinitionUri** instead of the inline swagger?

Thanks

[2019-04-03 15:02] milancermak commented on #778
Hi folks, just curious, is a fix for this on the roadmap?

[2019-04-03 15:50] MikelDelTio commented on #300
Same issue here.

[2019-04-03 17:30] jlhood commented on #778
I pinged https://github.com/aws-cloudformation/cfn-python-lint/issues/582 again. Was hoping the issue could be fixed on the cfn-lint side.

[2019-04-03 17:37] jlhood commented on #756
@LacikIgor Not currently.

The key difficulty is SAM would need a way to modify the swagger definition referenced by `DefinitionUri`. SAM is implemented as a pure transform in that it only modifies the given template and not any externally referenced files. It would be setting a new precedent to have it try to download the referenced swagger file, modify it and use the modified version instead. `D

[2019-04-03 18:23] TeddyHandleman commented on #866
@jlhood To me this looks like it going in the right direction. The only thing I see that may be a potentials issue is integration with an OpenAPI document via the DefinitionBody parameter in a `AWS::Serverless::Api` resource.

For example:

[code]

In the OpenAPI document you might have an APIG integration like so:

[code]

However, maybe your solution just means a change of `MyFunction.Arn` -> `N

[2019-04-08 07:03] kevinashaw commented on #305
Hi all.  Its been seven months.  Any updates on this?
Is the best recommendation to follow the proposal by dvdmmc, or has this been fixed?

[2019-04-08 20:49] rnhurt opened #881 "Allow Python dependency management with Pipfile"
**Description:**
Pipfile and pipenv are considered to be the [current recommended standard way](https://packaging.python.org/tutorials/managing-dependencies/#managing-dependencies) of managing project dependencies. Pipenv is the tool that manages your python virtual environment and dependencies according to the Pipfile.

**Expected behaviour:**
Dependencies declared in setup.py can be automaticall

[2019-04-08 23:41] j opened #882 "Map Nested Stack to Single API Gateway"
With current nested stacks & SAM, when I create an Api event type, each service then has it's own API gateway.  Can I have everything be assigned to one API gateway?

[2019-04-09 06:26] mariotoffia commented on #627
+1

[2019-04-09 08:03] damien-monni commented on #66
For those who might be interesting, I am using sed command as a workaround in my buildspec.yml.

I renamed `swagger.yaml` to `swagger.template.yaml`. Then I am using:

[code]

The key here is `@USER_POOL_ID@`.
Then in my buildspec.yml I just replace it as the first step:

[code]

[2019-04-09 17:27] brettstack commented on #305
I've reached out to the API Gateway team to see if they will fix the underlying issue. However, if they are unable to fix it we may be able to do something like this:

1. We allow `DefinitionUri` to also accept an `Object`
1. During `sam package`, SAM will perform operations on `DefinitionUri` based on the configuration specified

[code]

`Path` will be either a local file path, or an S3 path. If

[2019-04-09 17:32] brettstack commented on #882
This Issue aims to solve this problem #866. Please close this one and follow over there if that sounds right.

[2019-04-09 17:38] brettstack commented on #627
We prioritize a lot based on +1 **reactions**. Commenting with +1 isn't helpful.

@txase thanks for the comment on what you think are the main (only?) required changes. This is definitely on our radar, however, if someone wants to send a PR it'll go faster. Right now I'm thinking we simply expose an `OASVersion` property and perform these slight adjustments based on that.

[2019-04-09 17:43] brettstack commented on #756
Closing in favor of https://github.com/awslabs/aws-sam-cli/issues/803

[2019-04-09 17:43] #756 closed

[2019-04-09 17:46] jfuss commented on #881
@rnhurt Are you requesting for this repo to move to Pipenv for development or something else?

[2019-04-09 17:46] kevinashaw commented on #305
@brettstack Thank you.  This will be helpful.
In the meantime, what is the best-practice recommendation?
Currently I am think that I need to rip out the Swagger code and rebuild the API definition in pure CloudFormation -- which does not sound like fun.  I get the impression there is a reason people prefer to use Swagger.

[2019-04-09 18:08] rnhurt commented on #881
No, I was suggesting that it would be useful if the `sam build` command would accept Pipfile for dependencies.  Currently, the `--manifest` parameter only accepts "requirement" files and not Pipfile files.  As I understand it, this practice has been deprecated by the Python community.

This ticket stems from the fact that I am currently working on a project that uses Pipfile files and using AWS SA

[2019-04-10 13:50] mkamioner commented on #547
Any update on this?

[2019-04-10 18:43] j commented on #882
@brettstack yep I think that'd work.  I was thinking of the inverse way of doing it, where the sibling template could reference an API gateway from another stack, but I think the FunctionReference way could act as more of a "router" vs being magical (you can create a single place of truth for API routes).

[2019-04-10 18:43] #882 closed

[2019-04-10 20:22] brettstack commented on #305
It will work if you just stick the Swagger inline in DefinitionBody or use the workaround posted above by dvdmmc

[2019-04-10 22:50] danielclariondoor commented on #783
Hi, I'm using @deleugpn's workaround, deploying in two stages, which is annoying.
Any idea when the code support the syntax in @brettstack's first comment will be merged?

[2019-04-10 23:49] mlaff opened #884 "AWS::Serverless::SimpleTable - Incorrect Property Name Results in Unhandled Exception"
**Description:**

When using resource `AWS::Serverless::SimpleTable`, if you use the name `Id` in `PrimaryKey` property instead of the correct `Name`, and try to deploy, the exception is unhandled, but it should be an InvalidResourceException.

**Steps to reproduce the issue:**
1. Create template with content:
[code]
2. Try to deploy

**Observed result:**
Unhandled exception

**Expected result:**

[2019-04-11 15:57] beck3905 opened #885 "API Property for Handle 404 and Handle 405"
API Gateway default behavior is to return a 403 - Forbidden response with a message of 'Missing Authentication Token' instead of a 404 - Not Found when the wrong resource path is provided and the same response instead of a 405 - Method Not Allowed when the wrong method is provided.  Apparently this is by design, but is not desirable for many APIs.

I have developed a way to handle these situations

[2019-04-11 17:25] kevinashaw commented on #305
@brettstack
Thank you for the response.
I am finding, even with inlined Swagger, that I get the Invalid Swagger error.
Here is the response from `sam deploy`:
[code]
And the response from `sam validate`:
[code]
The offending lines are:
[code]
and this
[code]
If either block is present, I get the invalid swagger error.  If both are commented out, I get:
`mytemplate.yaml is a valid SAM Template`
Her

[2019-04-12 03:10] brettstack commented on #305
SAM CLI has a bug in the validate command when you add Authorizers. It should deploy fine though?

[2019-04-12 05:03] richiewebgate commented on #717
It would be really nice if there is a simple flag to prevent the authorizer to be set on the OPTIONS method, without workarounds and stuff. The OPTIONS preflight call is usually made automatically by the browser, not by the application code. If you use an HTTPInterceptor to add Authorization headers to each outgoing request of the webapp, the OPTIONS preflight requests are not intercepted and the

[2019-04-12 19:50] mlaff opened #889 "SAM doesn't support Fn::If On Policy Templates"
**Description:**

SAM doesn't support `Fn::If` in `Policies` section of `AWS::Serverless::Function` when managed policies are listed.

Using template:

[code]
we fail with an unhandled exception. But as seen in [874](https://github.com/awslabs/serverless-application-model/issues/874), this (sort of) works with explicit policy statements. `Fn::If` should work with managed policies as well as explic

[2019-04-15 01:36] verzac commented on #514
Yeah I agree with @markstos, I tried my hands on setting up my local SAM dev environment, but pyenv couldn't run on Windows (and the maintainer has explicitly refused to support Windows). I could technically run it on VBox, but I can't be bothered setting up my dev environment in another machine again.

Seems like I'll have to pass on developing this one for now, even though I'm heavily interested

[2019-04-15 23:04] pofallon opened #890 "Role property in Globals section not supported"
**Description:**

Attempting to elevate a function's `Role` property to a global value results in a template that can't be deployed.

**Steps to reproduce the issue:**
1.  Create a SAM template with a `Globals` section that includes a Role reference, for example:
[code]
2.  Attempt to `deploy` this template, which  results in an error with the following:  "'Globals' section is invalid. 'Role' is n

[2019-04-16 06:39] GaGaMan1101 commented on #877
Hi @keetonian, sam local (invoke the lambda function) works fine with my lambda_handler , however, when I tested it in lambda console, it failed. So I am thinking SAM Docker doesn't mimic all environment from Lambda IAM, at least 250MB unzipped file size limitation doesn't exit in SAM.

[2019-04-16 10:24] chrisoverzero commented on #890
This was a decision made purposefully, according to the [globals guide][]. Of the given reasons, I would guess that “opened scope for potential security issues“ is what applies to `Role`.

I hope you can see now that this is not the case.

[globals guide]: https://github.com/awslabs/serverless-application-model/blob/master/docs/globals.rst#unsupported-properties

[2019-04-16 12:32] pofallon commented on #890
Thanks for the reply!  I didn't notice that in the guide until after I'd created the issue (my bad!)  In my environment, I can't let SAM create the role(s) for me (due to organizational guidelines) so I have to manage them myself.  Repeating this one parameter multiple times really isn't a big deal.  However, I'd be interested to know the security motivations behind the decision -- for my own lear

[2019-04-16 17:17] jlhood commented on #547
@mkamioner This is not currently prioritized internally so the fastest way to get it implemented would be for a member of the community to contribute the feature. #827 is a good example PR to follow as the changes needed to implement API key support would touch similar areas of the code.

[2019-04-16 18:09] jlhood commented on #885
Hi @beck3905. Really appreciate the issue and thanks for the PR offer! We discussed this and while using your approach of `/{proxy+}` and `ANY` does create the behavior you want, there are downsides to this approach. Specifically that you would not be able to use `/{proxy+}` for any other purpose in your API. We think a better approach is to use [API Gateway's Gateway Responses](https://docs.aws.a

[2019-04-16 20:49] ylynn opened #891 "SAM does not support empty SemanticVersion in AWS::Serverless::Application resource"
**Description:**

SAM does not support empty SemanticVersion in AWS::Serverless::Application resource.

Using template:

[code]

Fail with an unhandled exception.

[2019-04-16 21:03] beck3905 commented on #885
@jlhood Thanks for your response.  I looked into gateway responses too when I first came across this issue.  I found that there was no way to determine which gateway response is triggered in which situations (i.e. incorrect resource triggers 404 instead of 403) and determined that this would mean that my API could not return 403 in valid forbidden circumstances.

The correct fix for this issue wou

[2019-04-16 23:21] jlhood commented on #885
@beck3905 Thanks for your feedback. I've passed it along to the Amazon API Gateway team. What would you envision the SAM syntax looking like if you added this feature? Could you give an example `AWS::Serverless::Api` demonstrating the developer experience for this?

[2019-04-17 20:27] jlhood opened #892 "Internal transform failure on bad Condition syntax"
**Description:**

Customer pinged me that deployment was failing with "FAILED - Transform AWS::Serverless-2016-10-31 failed with: Internal transform failure."

The issue was a syntax error in their template, but SAM should handle that case more gracefully and provide a helpful error message.

The syntax error was in the use of Condition support on SAM resources. Sample template that reproduces the

[2019-04-17 22:19] beck3905 commented on #885
@jlhood I was thinking of something extremely simple.  It could be 1 property or 2.

1 Property:

[code]

2 Properties:

[code]

[2019-04-18 11:45] bikerp opened #893 "Internal transform failure on path parameters"
Hi,
I'm facing an issue with SAM template that uses Lambda authorizer. The issue occurs when path contains path parameters which are defined at the path level. When path parameters are defined in the methods level then everything is ok.
The template:
[code]

The swagger:

[code]

[2019-04-18 14:02] fcobia opened #894 "RequestMappingTemplateS3Location does not work with Fn::If"
I have a template for an AppSync Pipeline Function that references a different template depending on a condition. While SAM normally translates the location to the proper s3 location, it does not work if I have an Fn::If.

I would have expected that SAM would translate both locations specified in the Fn::If.

Example:

  EnvironmentPipelineFunc:
    Type: "AWS::AppSync::FunctionConfiguration"

[2019-04-19 17:10] keetonian commented on #890
Our typical guidance is giving lambda functions the "least necessary privilege", which means having one role for all functions would in most cases violate this guidance.

Closing this issue, as we [intentionally](https://github.com/awslabs/serverless-application-model/blob/master/docs/globals.rst#unsupported-properties) don't support `Role` in globals.

[2019-04-19 17:10] #890 closed

[2019-04-19 17:14] keetonian commented on #884
Steps to fix this:

1. Add validation to https://github.com/awslabs/serverless-application-model/blob/master/docs/globals.rst#unsupported-properties to make sure `Name` exists as a property of PrimaryKey
1. Add tests to ensure this error is caught in https://github.com/awslabs/serverless-application-model/blob/develop/tests/translator/test_translator.py#L444

[2019-04-19 17:22] keetonian commented on #891
Fix for this issue:

1. Validate that parameters (ApplicationId and SemanticVersion) are not `None` in https://github.com/awslabs/serverless-application-model/blob/develop/samtranslator/plugins/application/serverless_app_plugin.py#L126 if these properties exist in `Location`.
1. Add an error-case test in https://github.com/awslabs/serverless-application-model/blob/develop/tests/translator/test_tra

[2019-04-19 17:34] keetonian commented on #892
Fix for this issue:

1. Validate that the Condition (if it exists) is a string: https://github.com/awslabs/serverless-application-model/blob/develop/samtranslator/sdk/resource.py#L27
  * Note: If something other than a string is used as a Condition on a resource, CFN throws an error: `An error occurred (ValidationError) when calling the CreateChangeSet operation: Template format error: Every Condi

[2019-04-19 18:04] keetonian commented on #893
It looks like this is a bug.

Under the "Common Parameters" section of [Swagger 2.0 parameters docs](https://swagger.io/docs/specification/2-0/describing-parameters/), it shows that you can do what you're trying to do.

The current code is treating the `Parameters` section like a method, which is incorrect. I think a valid fix for this would be to, when iterating over methods when setting the defa

[2019-04-19 18:29] s0enke commented on #721
CloudFormation got ALB->Lambda support in the last release (https://aws.amazon.com/about-aws/whats-new/2019/04/aws-cloudformation-coverage-updates-for-amazon-ec2--amazon-ecs-a/).

Here is a sample code how to use them: https://github.com/s0enke/cloudformation-templates/blob/master/templates/lambda-alb-sam-sample.yaml

[2019-04-19 18:59] jlhood commented on #894
Hi @fcobia. You're correct that SAM does not currently support `Fn::If` used with local file paths. This local path support is really a SAM CLI feature so I'll have the issue transferred to the SAM CLI GitHub repo.

As a side note, in your example, you have `Condition: IsProd` on your entire EnvironmentPipelineFunc resource so it doesn't seem to make sense to have the `Fn::If` within that resource

[2019-04-19 19:03] fcobia commented on #894
Sorry about the condition. That was actually part of my fix and I left it in. What I ended up doing was creating two resources with a condition so that only the correct one is created, but that also means everywhere I reference the resource, I have to put an Fn::If to make sure I reference the correct resource. So I have a lot of Ifs instead of a single one.

[2019-04-19 19:07] jlhood commented on #894
Ok makes sense. Just wanted to point it out in case you weren't aware! 😊

[2019-04-20 01:34] haggaret commented on #307
This appears to still be a problem. Lambda function created by SAM with no AWS::Lambda::Permission resource in the template - try to perform get_policy on the function and it fails.

[2019-04-20 16:36] beck3905 commented on #850
I have been going back and forth on whether to defined my own swagger (inline) or to just let SAM do it for me.  I've mostly settled on letting SAM do it for me, but there are definitely some limitations to this because it seems to be san all or nothing scenario.  If I want to customize anything in my API (e.g defining method requests/models/validators and method responses) then I have to define m

[2019-04-23 08:19] Jun711 commented on #337
similar to https://github.com/aws/chalice/issues/48?

[2019-04-23 17:31] keetonian opened #895 "Support APIGW Models in API Events"
It would be nice to add options to the `API` event source for `AWS::Serverless::Function` for models (request and response) and validators similar to how authorizers can be defined in there now without having to dive into swagger.

_Originally posted by @beck3905 in https://github.com/awslabs/serverless-application-model/issues/850#issuecomment-485141374_

Models in swagger: https://swagger.io/doc

[2019-04-23 17:31] brettstack commented on #721
Thanks @deleugpn for the proposed syntax https://github.com/awslabs/serverless-application-model/issues/721#issuecomment-461555861 and @s0enke for the example. How might the input and output look for defining multiple paths/methods like we do for Api event?

[2019-04-23 22:47] keetonian commented on #337
@keenskelly @robermar2 Could you post a sample of a template that would result in the policy size exceeding the limit after multiple deployments?

[2019-04-23 22:50] keetonian commented on #285
@marafee1243 that was a proposed feature, and not something officially supported in SAM yet.

[2019-04-24 03:21] kaihendry opened #896 "Missing golang example for a lambda"
There is an example for API gateway here: https://github.com/awslabs/serverless-application-model/blob/master/examples/2016-10-31/hello-world-golang/main.go

But nothing for a standard lambda in Golang:
 https://github.com/awslabs/serverless-application-model/tree/master/examples/apps

This is related to https://github.com/awslabs/aws-sam-cli/issues/1136

Icing on top would be context demonstratio

[2019-04-24 16:52] keetonian commented on #850
@beck3905 adding support for models I think would make it easier to use the SAM-generated swagger. I opened a new issue (#895) with a proposal about how to add APIGW models to SAM.

[2019-04-24 21:41] jsuna commented on #836
@jlhood any idea when this will get released!?

[2019-04-24 23:57] beck3905 commented on #895
@keetonian Thanks for creating this feature request.  I may try to take a stab at it if I have time in the next month or so.

[2019-04-25 03:06] jlhood commented on #836
@jsuna We're not able to comment on exact dates, so the best I can say is it's coming soon!

[2019-04-25 11:25] mixja opened #897 "Parameters not supported for SemanticVersion in AWS::Serverless::Application resource"
**Description:**

When you attempt to reference a parameter for the `SemanticVersion` property of the `Location` object, SAM processing fails with an internal transform failure.

**Steps to reproduce the issue:**
1.  Attempt to create a change set/stack for the following SAM template:

[code]

2.  Provide valid version for semantic version parameter

**Observed result:**

Change set/stack creation

[2019-04-25 16:53] jsuna commented on #836
@jlhood fair enough! I'll keep my eyes peeled, thanks!

[2019-04-26 06:23] tempo4964 commented on #876
I believe AutoPublishAlias is a SAM feature instead of it's cloudformation superset.
https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/automating-updates-to-serverless-apps.html

I have my project function configure as below, which is perfectly fine, just fyr.
    ProfilePostFunction:
      Type: "AWS::Serverless::Function"
      Properties:
        Handler: index.hand

[2019-04-26 12:03] mnapoli commented on #284
Just a note for those coming here from Google: this doesn't work locally with `sam local` but it works when deployed.

[2019-04-26 16:15] jlhood commented on #284
@mnapoli Right. Function env vars have to be provided to `sam local` explicitly via the `--env-vars` option.

[2019-04-26 16:57] keetonian commented on #760
Released with [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0)!

[2019-04-26 16:57] #760 closed

[2019-04-26 16:58] keetonian commented on #815
Released with [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0)!

[2019-04-26 16:58] #815 closed

[2019-04-26 16:58] keetonian commented on #802
Released with [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0)!

[2019-04-26 16:58] #802 closed

[2019-04-26 16:58] keetonian commented on #781
Released with [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0)!

[2019-04-26 16:59] keetonian commented on #823
Released with [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0)!

[2019-04-26 17:02] keetonian commented on #766
Released with [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0)!

[2019-04-26 17:02] #766 closed

[2019-04-26 17:27] jlhood commented on #305
Discussed internally. Here are some notes:

1. Need to iterate on the spec definition. Having `DefinitionUri` take both object and string can be confusing, especially since the default behavior for each usage is different (inline vs upload). Alternative suggested is to add a new property for this behavior instead, e.g., `DefinitionInclude` or something like that.
1. We should test to see if SAM co

[2019-04-26 17:29] keetonian commented on #897
Try it again :) this should have been fixed in [SAM v1.11.0](https://github.com/awslabs/serverless-application-model/releases/tag/v1.11.0) which was just released.

I just verified that this works just in case with the following template:
[code]

[2019-04-26 17:29] #897 closed

[2019-04-26 17:39] jlhood commented on #896
Hi @kaihendry. The parts of the existing example that make it API Gateway specific are the [API event in the template](https://github.com/awslabs/serverless-application-model/blob/master/examples/2016-10-31/hello-world-golang/template.yaml#L15-L19) and the [expected request/response type of the Lambda function](https://github.com/awslabs/serverless-application-model/blob/master/examples/2016-10-31

[2019-04-26 17:46] jlhood commented on #836
Note, this change didn't make the cut in our latest release (v1.11.0), so it will be in the next release.

[2019-04-26 17:55] jlhood commented on #876
SAM templates can be deployed via CloudFormation (Console or CLI). Remaining action item for @keetonian is to try to reproduce via the CloudFormation console.

@Private-SO One thing to note, you are using `AutoPublishAlias` without `DeploymentPreference`. Is that intentional? The two are usually used together.

[2019-04-26 18:07] Private-SO commented on #876
@jlhood , Yes my usecase don't need `DeploymentPreference`. Thats the reason i skipped that.

[2019-04-26 18:08] jlhood commented on #307
@haggaret We're not able to reproduce the issue you're describing. Can you provide a template that reproduces the issue you're seeing?

[2019-04-27 02:37] mixja commented on #897
Thanks - looks like this is fixed from CloudFormation side of things, but SAM CLI is not working as yet (imagine this will catch up soon).

[2019-04-27 07:36] mnapoli commented on #284
@jlhood thanks a lot for answering. Do you know why it doesn't work?

From my understanding:

- environment variables in general should be populated with `sam local`
- `!Ref` should work with `sam local`

so I don't get why specifically here it doesn't work.

[2019-04-27 11:20] mixja opened #1094 "Parameters not supported for SemanticVersion in AWS::Serverless::Application resource"
### Description

When you attempt to reference a parameter for the `SemanticVersion` property of the `Location` object, SAM processing fails with an internal transform failure.

Note as per https://github.com/awslabs/serverless-application-model/issues/897, support for this has been recently added to SAM so I expect SAM CLI just needs to be updated to support this change.

### Steps to reproduce

[2019-04-27 21:12] lukpep commented on #807
any info on this? I'm also unable to set cors on sam created API.
This example:
https://github.com/aws-samples/startup-kit-serverless-workload/blob/master/serverless.cfn.yml

still leads to missing headers and I'm unable to consume my sam crated API in SPA due to CORS.

[2019-04-27 21:49] emanuelhjertzen commented on #561
Ran into this issue today also. Exactly as described in original description by @abhilash1in.
I first set to '*~1*' in template.yaml. Then changed to 'image~1png' and packages/deployed. After that the BinaryMediaTypes have been removed. Changing them further does not have any effect.

[2019-04-27 22:07] emanuelhjertzen commented on #561
Did further tests:
1. In template set
BinaryMediaTypes:
  - image~1gif
  - image~1png
Package/deploy got the expected result.

2. Change template to
BinaryMediaTypes:
  - image~1gif
  - image~1png
  - application~1vnd.openxmlformats-officedocument.spreadsheetml.sheet
Package/deploy resulted in only application/1vnd.openxmlformats-officedocument.spreadsheetml.sheet set in console.

3. Change templa

[2019-04-29 08:36] lestephane opened #903 "sam-translate.py fails with 'TypeError: datetime.date(2012, 10, 17) is not JSON serializable'"
I have  a SAM template with a CloudWatch role defined as follows

[code]

When I run the sam-translate.py command, I get an error related to the 2012-10-17 date

[code]

**Steps to reproduce the issue:**
1. mkvirtualenv for a 2.7.16 python environment
2. pip install  -r requirements/base.txt
3. pip install  -r requirements/dev.txt
3. aws cloudformation package ... --output-template-file=packaged.y

[2019-04-29 08:58] lestephane commented on #903
If I comment out the problematic resource (to see how far i can go), I get the same error on the next resource that uses a PolicyDocument with the same version (`2012-10-17`)

[code]

[2019-04-29 11:37] chrisoverzero commented on #903
As a workaround (in case you didn’t already know), the date value can be wrapped in quotes.

[2019-04-29 11:44] chrisoverzero commented on #807
When you say that the headers are missing, do you mean in the preflight response or in the actual application response? SAM (really, API Gateway) cannot _add_ CORS headers to the responses returned by the application. The CORS settings apply to preflight responses – that is, the responses to the `OPTIONS`-with-some-headers requests that precede the actual request by the browser. The other kind hav

[2019-04-29 17:56] lukpep commented on #807
yep true - also worth mentioning is the fact that default authorizer is also applied to the OPTIONS requests... so I ended up with two things (making it work):
- added obligatory CORS headers into responses directly in a functions code
- removed my custom authorization from `DefaultAuthorizer' and manually marked events in function definition with it - so the authorization is not applied to prefli

[2019-04-30 14:00] pablosjv commented on #514
I have been using SAM for a couple of months and it's been great. I think this feature will be very useful in the development process of serverless applications.
Is there anyone currently working in the implementation of this? I would like to help :)

[2019-04-30 17:10] TeddyHandleman commented on #866
@jlhood any further updates?

[2019-04-30 18:11] jlhood commented on #514
@pablosjv By all means, we'd love for you to contribute! @brettstack summarized the 1st pass changes needed to support this feature in this comment: https://github.com/awslabs/serverless-application-model/issues/514#issuecomment-468780531

Follow the development guide to get setup and we look forward to reviewing your PR! 😊

[2019-05-01 14:23] y15e commented on #308
In addition to the above **.npmignore** tip, **file** property of **package.json** also works with `sam build`. **.npmignore** is a blacklist, **files** property is a whitelist.

https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

[2019-05-01 19:50] taylorbartley opened #906 "Strings not translating with sam-cli or awscli."
**Description:**

I'm using ```sam-cli``` to package my ```.yaml``` template. I've noticed that some strings do not translate properly in the packaging process.  Unfortunately, this causes my template to fail validation. So far, ```"08"``` and ```"09"``` fail to translate to ```'08'``` or ```'09'```. Other
strings, like ```"00"``` and ```"07"``` do translate properly to ```'00'``` and ```'07'```,

[2019-05-02 04:26] tsuga commented on #717
I agree with @richiewebgate

[2019-05-02 10:25] AZ1904 opened #907 "Plugin 'ImplicitApiPlugin' raised an exception: unhashable type: 'dict' when setting RestApiId from the output of a child stack"
**Description:**

setting the RestApiId from the output of a child stack containing the AWS::Serverless::Api is causing errors

**Steps to reproduce the issue:**

Stack_A:

[code]

Stack_B:

[code]

**Error:**
[code]

[2019-05-02 16:26] anthony-tietjen-navex commented on #215
Any update?

[2019-05-02 18:48] praetp commented on #23
The example by 'ghost' above works for me but now I get 401's as I have configured a default authorizer. However, this should only be applied for the non-OPTIONS methods. For the OPTIONS, I want authorizer NONE. Anyone got a clue how to get it working ?

[2019-05-03 14:53] eterjoost commented on #652
I can look into implementing this. The transformation to swagger is simple enough, although I'm not sure if there are other steps that need to be implemented.
In any case, what would be the expected behavior when only a scope is specified? Without an authorizer like this:
[code]

[2019-05-03 14:55] klmz commented on #652
I can look into implementing this. The transformation to swagger is simple enough, although I'm not sure if there are other steps that need to be implemented.
In any case, what would be the expected behavior when only a scope is specified? Without an authorizer like this:
[code]

I would propose choosing the default authorizer in this case.

[2019-05-03 14:57] klmz commented on #652
I also want to propose calling it ```AuthorizationScopes``` instead of ```OAuthScopes``` since it is more consistent with the naming of the [AWS::ApiGateway::Method](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-method.html#cfn-apigateway-method-authorizationscopes) in normal CloudFormation.
Or is it better to make the naming different to ensure there is no

[2019-05-03 21:55] keetonian commented on #652
@klmz Keeping the naming the same should be fine.  I think the transformation into swagger + some supporting tests are all that are needed for this feature, correct me if I'm wrong.

[2019-05-04 11:07] klmz commented on #652
Yes, that is what I figured. I got most of it working. Is there any documentation on what is expected in terms of tests? I saw some end-to-end test that will be needed, any thing else?

[2019-05-05 09:56] lestephane commented on #903
Good to know, thanks

[2019-05-05 17:57] praetp commented on #784
Any other solution besides removing the DefinitionBody ? Still smells like a bug to me.

[2019-05-05 18:00] praetp commented on #784
Adding
[code]
to the DefinitionBody is an alternative workaround.

[2019-05-06 07:17] akhilkvpv88 commented on #305
Will this also get rid of the following error we get while using Auth: **"Auth works only with inline Swagger specified in 'DefinitionBody' property"**

Currently, this is not working with the workaround you proposed.

[2019-05-06 09:02] akhilkvpv88 commented on #305
@brettstack I tried your approach of **Inline:true** but sam package didn't replace DefinitionUri with DefinitionBody and it didn't replace it with inline swagger. I am using sam version 0.15.0.

[2019-05-07 09:17] bombadiltom commented on #229
+1

[2019-05-07 14:27] revolutionisme opened #912 "AWS::Serverless:Function with Ref in codeuri for code in relative path"
**Description:**

We are using SAM with serverless functions having codeuri being specified to a local path and then perform aws package to package and deploy using scripts.

Now the problem is that I can specify codeuri to be the top level folder if I hard code it but SAM is not letting me apply the value from a parameter (via !Ref or !Sub).

**Steps to reproduce the issue:**
In the example below

[2019-05-07 17:19] honglu commented on #728
This has been fixed for any new applications that will be published to the serverless repo.

[2019-05-07 17:19] #728 closed

[2019-05-07 17:57] keetonian commented on #907
It isn't yet possible to reference a `Serverless::Api` in a child stack, but there are active conversations about it. I agree that it would be a great feature to be able to reference a `Serverless::Api` in another stack.

See https://github.com/awslabs/serverless-application-model/issues/349#issuecomment-458652439 for more information on this issue, and add another +1 to that issue to help get it

[2019-05-07 17:57] #907 closed

[2019-05-07 17:58] brettstack commented on #912
Hi @revolutionisme the `package` step is actually performed at the AWS CLI level. The only similar issue I could find over there was this one https://github.com/aws/aws-cli/issues/3376 regarding specifying CodeUri in globals. Looks like they have a PR up for that also but there hasn't been any traction. You should open a new issue there and maybe cross-link your new issue with the Globals issue.

[2019-05-07 17:58] #912 closed

[2019-05-07 23:07] sgrinich-98point6 commented on #452
Hi @bhushanwwire , did you find a solution for this issue?

[2019-05-09 02:29] rhbecker commented on #142
I'm having a hard time understanding what should and shouldn't be working at this point. Is this documented somewhere? The [spec](https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md) doesn't really mention conditions.

My reason for seeking this issue out is that I want a function that always exists, but with the ability to toggle whether that function is sub

[2019-05-09 18:12] keetonian commented on #142
@rhbecker good call out, we should make what parts of conditions are supported more clear in the documentation. For now, only conditions at the resource level (not property level) are supported in SAM resources.

[2019-05-09 18:34] keetonian commented on #284
`!Ref` of template parameters work, but SAM CLI has several issues open like https://github.com/awslabs/aws-sam-cli/issues/573 to support more intrinsic functions.

[2019-05-09 23:10] sgrinich-98point6 commented on #518
Hello @simon-chettle , did you ever find out how to reach the expected result?

[2019-05-10 00:36] kylecaston commented on #573
If @brettstack or anyone is still monitoring this issue, I can confirm this problem is happening for me for a simple barebones project.  The same temporary fixes works - either re-selecting the Lambda in the console or adding a 'lambda:InvokeFunction' permission for API Gateway.  Unfortunately this isn't a tenable solution for a project of any substantial size with an automated CI/CD pipeline.

[2019-05-10 03:43] brettstack commented on #573
Can you provide a template?

[2019-05-10 17:25] jlhood commented on #248
@deleugpn @jona Thanks for following up on this. #444 can't be merged into develop in its current form. It needs to be updated to fit within the Auth syntax we've added to `AWS::Serverless::Api` since it was merged. We have not currently prioritized this work internally so the fastest way to get it into SAM is for someone from the community to contribute the necessary changes.

#547 is specificall

[2019-05-10 17:35] keetonian commented on #652
@klmz we don't have any docs on what is expected for tests, but I would recommend some end-to-end tests like you suggested, as well as some tests for the new swagger that is generated in https://github.com/awslabs/serverless-application-model/blob/develop/tests/swagger/test_swagger.py.

[2019-05-10 17:37] brettstack commented on #652
This is correct. Looking forward to the PR!

[2019-05-10 17:55] jlhood commented on #305
@akhilkvpv88 The `Inline: true` property was a proposed new feature to SAM, not an existing feature. Sorry for the confusion. We're still determining the best way to address this issue.

[2019-05-10 17:57] jlhood commented on #229
The path forward for this feature would be to propose SAM syntax for implementing this new event source. Then we can identify the areas of code that would need to be modified. Happy to work with anyone who would like to implement this!

[2019-05-10 18:55] rhbecker commented on #142
thx @keetonian

[2019-05-10 20:38] mtstrong17 commented on #354
I currently have opened up a feature branch and have started implementing this feature.

I've currently created a new resource

[code]
Which will become this after transform:

[code]

This solution i think will simplify the creation of appsync apis, however i haven't been able to come up with a design for implementing Functions, Data Sources, and Resolvers. Part of me doesn't see the benefit of ad

[2019-05-11 13:55] PhungXuanAnh commented on #98
@jarreds It's good if "sam package" command keep name 'Telephony.Service.API.zip' while upload to s3, instead of rename zip file.
Because each time I run "sam package", it will create another file in s3, I don't want that happen
Is there any way to specify zip name while run "sam package" to upload to s3?

[2019-05-13 14:57] tommyvn opened #914 "AWS::Serverless::Api deployment resource is not generated on Sub'ed Ref change"
1. Deploy the attached Cloudformation template, see that visiting the API GW address shows the text in the `RandomParameter` CF parameter.
2. Update the stack and change the `RandomParameter` value, see that a new Deployment resource is not created by the Serverless transform and see that visiting the API GW address shows the previous value of `RandomParameter` rather than the expected current one

[2019-05-13 15:17] xrendan opened #915 "SAM validate crashes on improperly formatted function Events"
**Description:**

sam validate crashes on invalid template,

SAM CLI, version 0.15.0
Windows 10

**Steps to reproduce the issue:**
1. Use the following template file (sorry for .txt extension, github insists on it)
[crash-template.yaml.txt](https://github.com/awslabs/serverless-application-model/files/3173554/crash-template.yaml.txt)

2. run `sam validate -t crash-template.yaml.txt`
3. Watch as SA

[2019-05-13 20:18] crawforde commented on #248
Any updates on this? not being able to add metrics using MethodSettings makes it pretty hard to use serverless in a production environment.

[2019-05-13 21:07] jfuss commented on #248
@crawforde Please see above comment (it's have been released for some time now) https://github.com/awslabs/serverless-application-model/issues/248#issuecomment-463063879

[2019-05-13 21:24] crawforde commented on #248
Found the docs on it. Thanks! Seems like there was another issue that was preventing this from working.

[2019-05-14 08:40] revolutionisme commented on #912
@brettstack The problem is I am using cfn-linter and it tells me that its not a valid syntax to replace the local path using Sub or Ref. Is that intended?

[2019-05-14 13:28] brettstack commented on #912
Yes, that's not suppoeted

[2019-05-14 17:19] praneetap commented on #354
Thank you for the feature proposal and starting to work on this! We will review this proposal and get back to you with our feedback soon. Really appreciate your work on this!

[2019-05-14 17:38] praneetap commented on #914
This is similar to issue #479. SAM only generates a new API Gateway Deployment if the swagger definition changes. If SAM uses an intrinsic function inside the swagger definition, the definition is not seen as changed, even if the value returned by the intrinsic function changes.
One way to workaround this (and force redeployment) is to make a change in the swagger.

This isn't ideal, and we are aw

[2019-05-14 17:38] #914 closed

[2019-05-14 18:35] keetonian commented on #915
@xrendan Thank you for reporting this! We fixed part of this in the v1.11.0 release, but this particular template caused another error that @praneetap just submitted a fix for. This will go out with our next release.

[2019-05-14 20:06] xrendan commented on #915
Awesome, happy to help :)

[2019-05-15 13:03] tommyvn commented on #479
Same issue for me, I created #914 to describe it. I'll copy a relevant snippet from my issue here as my question still stands.

Thinking about this in the context of my own custom transform I get why detecting the change in the ref is difficult in a transform, with it being a layer removed, but the UX confused me, my VTL changed so why didn't it deploy was my initial reaction.

I suspect this sugg

[2019-05-15 14:15] revolutionisme opened #920 "Supporting codecommit eventsource type in SAM serverless functions"
**Description:**
I found that an existing ticket was opened and closed already 2 years back  - #60

I have a requirement to do exactly the same but I am not sure how does using SNS solve the issue as mentioned in the other ticket? You still need to create a cloudwatch rule to put the codecommit event into sns topic which would trigger the lambda.

If codecommit is directly supported then we can ha

[2019-05-15 15:03] zaus commented on #300
Late to the party, but I think I have the problem with a _particular_ Lambda not showing a Cloudwatch trigger in the console.  My other Lambdas (with basically the same trigger) show them in the console.

Seems like the Function Policy went missing at some point, although after creating the lambda 2 years ago it was there.

[2019-05-15 18:55] ashishusoni opened #921 "Example for AWS Service Integrations ( S3 )"
**Description:**

I do not find any documentation or example how we can define the sam template for AWS service integration such as S3

[2019-05-15 20:40] jmehnle opened #922 "jsonschema~=2.6 dependency causes DeprecationWarning under Python 3.7"
The `jsonschema~=2.6` dependency causes a `DeprecationWarning` under Python 3.7:

[code]

This was [fixed in `jsonschema` 3.0.0](https://github.com/Julian/jsonschema/pull/465). Can you please bump your `jsonschema` dependency to allow (or require) 3.0? ([See also](https://github.com/Julian/jsonschema/issues/487).)

[2019-05-16 13:20] theburningmonk opened #923 "AWS_IAM auth does not allow InvokeRole override"
**Description:**

When using the new `AWS_IAM` auth type, the `InvokeRole` is always set to `CALLER_CREDENTIALS` even when I specify an override. The problem here is that, it forces the caller to have both API Gateway's invoke permission as well as `lambda:InvokeFunction` permission. This breaks the API abstraction and leaks implementation details (that there's a Lambda behind API Gateway, and the

[2019-05-16 13:52] kylecaston commented on #573
@brettstack , sorry for the delay but I've been traveling.  Let me try to put something together and I'll get back to you.  Thanks so much.

[2019-05-16 14:39] theburningmonk commented on #923
For now, our workaround is to have a custom macro that is triggered after the initial SAM macro and strips the `credentials` field.

![image](https://user-images.githubusercontent.com/546969/57862751-c99ee180-77f0-11e9-854e-1d93f713fd77.png)

[2019-05-16 15:35] tavolate commented on #923
We have the same issue

[2019-05-16 17:29] kylecaston commented on #573
@brettstack Here you go, let me know how it works for you.

[code]

#### Description
This stick contains a very basic API Gateway deployment using AWS SAM with a single stage.  The stack defines three simple GET endpoints.  Each endpoint uses a different mechanism to get their execution permissions.
1. `GET /v1/helloworld`
This function does not declare any `Role` for the function.  A basic role w

[2019-05-16 17:33] BaconAndEggs commented on #514
Thank you much for the excellent framework and tooling!

My team has a project where we are implementing a private REST API.  We recently considered the benefits and drawbacks available via swagger/openapi import definition model and the definition of our API directly using the AWS::Serverless::Function definition and having SAM render the API gateway via the implicit logic.  We decided to go the

[2019-05-16 21:07] brianleroux commented on #561
Also encountering this error. We are currently working around it by manually updating in the console and deploying the api manually. Not ideal!

[2019-05-17 08:50] revolutionisme commented on #920
Just found out that rather than creating codecommit triggers, same can be achieved with cloudwatch events as event source.
Closing the ticket.

[2019-05-17 08:50] #920 closed

[2019-05-17 10:25] Cecarlego opened #924 "Sam local Invoke lambda with local layer error"
**Description:**

When invoking a function locally, which relies on a layer built locally as well, the function cannot find the module which is part of the layer.
When uploading that layer through the AWS console, and changing the Layer's reference in the template.yaml file, the import works.
The layer is 17Mb zipped, and contains the mysql-connector-python module, as well as the requests module.

[2019-05-17 16:34] keetonian commented on #876
@Private-SO I followed the exact steps that you posted in your original post. You are correct in that a new version is not created when following those steps.

The reason for this is that, when you update the stack in the CloudFormation console, the original SAM template is not used; rather, the transformed CloudFormation template is used. This means that SAM does not run and is not able to change

[2019-05-17 16:34] #876 closed

[2019-05-17 17:25] keetonian opened #925 "Applying resource policy after deployment issue in us-west-1"
_Originally posted by @BaconAndEggs in https://github.com/awslabs/serverless-application-model/issues/514#issuecomment-493161412_

My team has a project where we are implementing a private REST API.  We recently considered the benefits and drawbacks available via swagger/openapi import definition model and the definition of our API directly using the AWS::Serverless::Function definition and having

[2019-05-17 17:27] keetonian commented on #514
@BaconAndEggs Thank you for reporting this issue! I created a new issue out of your comment, please post in #925 if you see any additional errors. We will see if  we can find out any more information about this issue.

[2019-05-17 17:51] keetonian commented on #923
It looks like we're forcing `InvokeRole` to be non-null here: https://github.com/awslabs/serverless-application-model/blob/develop/samtranslator/swagger/swagger.py#L192

A simple fix for this would be to allow null or blank values and add a test that enforces this behavior.

[2019-05-17 17:56] keetonian commented on #573
@kylecaston Thank you for providing a template! I tried deploying it and ran into the same issue that you did, so I took a closer look.

The main issue is with how you're referencing the API in your function events. You need to add a `!Ref` intrinsic function in order for the permissions that SAM adds to work.

[code]

This should fix the issue where the functions do not work properly when you fir

[2019-05-17 17:56] #573 closed

[2019-05-17 17:58] keetonian commented on #922
Yes! We can totally do that, thank you for bringing this up!

[2019-05-17 18:06] keetonian commented on #921
@ashishusoni SAM has an easy integration between Lambda Functions (AWS::Serverless::Function) and S3 buckets.

The spec for AWS::Serverless::Function can be found here: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction

S3 event structure: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#s3

He

[2019-05-17 18:06] #921 closed

[2019-05-17 18:11] kylecaston commented on #573
@keetonian You're awesome.  You're exactly right.  That fixed the problem.  Thank you so much.

[2019-05-17 19:32] mattmar10 opened #926 "Error Updating Stack referencing inline Lambda and Node v10 runtime"
**Description:**

Seeing CREATE_FAILED error when template defines an inline lambda function against the nodejs10.x runtime

**Steps to reproduce the issue:**
1. Lauch a cloud formation stack referencing a template with an inline lambda function against the nodejs.x runtime. (example attached)
<img width="973" alt="cloudformation-error-nodev10" src="https://user-images.githubusercontent.com/467885

[2019-05-17 21:47] keetonian commented on #305
I did some investigating on having SAM add a `Fn::Transform` block to the template to use `AWS::Include`. The result is that this won't work without a change in CloudFormation.

Investigation Details:

I created and tested the new `DefinitionInclude` property in a few different ways. All of these ways failed in the `Create Changeset` workflow during CFN deploy. I verified the resulting templates t

[2019-05-17 22:31] keetonian commented on #926
This is an issue with the CloudFormation resource. I brought this up internally with the CloudFormation team.

The only workaround that I can suggest in the meantime is to deploy a function using NodeJS 8 then switch the runtime to 10 via the console or AWS CLI.

Closing as we can't do anything more about this; this feature will work once CFN releases support for the new runtime.

[2019-05-17 22:31] #926 closed

[2019-05-20 04:01] jadhavmanoj commented on #891
@keetonian I ran test case for this test case. but seems it already handled the exception. I can see the error message as "Invalid Serverless Application Specification document. Number of errors found: 1. Resource with id [helloworld] is invalid. Property 'SemanticVersion' cannot be blank."

If I understand correctly, It should not allow (ApplicationId and SemanticVersion)  as None. correct?

I ad

[2019-05-20 05:07] imangerah opened #930 "Issue with API Gateway returning 500 server error after renaming function."
### Description

After renaming a function in the SAM template, my API Gateway calls return 500 errors.

### Steps to reproduce

I have a stack that uses a custom domain with AWS::ApiGateway::BasePathMapping and AWS::ApiGateway::DomainName. The Base Path Mapping is as follows:

[code]
I am unsure if above plays a role in the bug.

I first deployed the stack with a function named HelloWorld-xxx, th